/** vim: ts=4:sw=4:nu:fdc=4:nospell
 *
 * Ext.ux.form.LovCombo CSS File
 *
 * @author    Ing.Jozef Sakáloš
 * @copyright (c) 2008, by Ing. Jozef Sakáloš
 * @date      5. April 2008
 * @version   $Id: Ext.ux.form.LovCombo.css 682 2009-04-17 01:35:14Z jozo $
 *
 * @license Ext.ux.form.LovCombo.css is licensed under the terms of the Open Source
 * LGPL 3.0 license. Commercial use is permitted to the extent that the 
 * code/component(s) do NOT become part of another Open Source or Commercially
 * licensed development library or toolkit without explicit permission.
 * 
 * License details: http://www.gnu.org/licenses/lgpl.html
 */

.ux-lovcombo-icon {
	width:16px;
	height:16px;
	float:left;
	background-position: -1px -1px ! important;
	background-repeat:no-repeat ! important;
}
.ux-lovcombo-icon-checked {
	background: transparent url(../../../images/ext3.3/default/menu/checked.gif);
}
.ux-lovcombo-icon-unchecked {
	background: transparent url(../../../images/ext3.3/default/menu/unchecked.gif);
}
/* IE patch */
.ext-ie .ux-lovcombo-item-text {
	position:absolute;
	left:16px;
	top:3px;
}
.ext-ie .ux-lovcombo-icon {
	float:none;
}
.ext-ie .x-combo-list-item {
	position:relative;
}
 
/* eof */
