
<div class="page" data-name="home">
	<!-- Top Navbar -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link back"> <i class="icon icon-back"></i> <span
					class="if-not-md">Back</span>
				</a>
			</div>
			<div class="title sliding">page not found</div>

			<div class="title-large">
				<div class="title-large-text">Page not found</div>
			</div>
		</div>
	</div>

	<!-- Scrollable page content-->
	<div class="page-content">
		<div class="block block-strong">
			<p>go home yankee.</p>
		</div>
	</div>
</div>