/*!
 * Ext JS Library 3.3.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
.x-panel-resize {
        height:5px;
        background:transparent url(../../../images/ext3.3/ux/panel-handle.gif) no-repeat center bottom;
        position:relative;
        left:0;
        top:2px;
        cursor:n-resize;
        cursor:row-resize;
        /* for IE */
        font-size:1px;
        line-height:1px;
        overflow:hidden;
}