/*!
 * Ext JS Library 3.3.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
/**
 * RangeMenu Styles
 **/
.ux-rangemenu-gt {
	background-image: url(../../../images/ext3.3/ux/filters/greater_than.png) !important;
}

.ux-rangemenu-lt {
	background-image: url(../../../images/ext3.3/ux/filters/less_than.png) !important;
}

.ux-rangemenu-eq {
	background-image: url(../../../images/ext3.3/ux/filters/equals.png) !important;
}
