/*

Copyright (c) 2009, Maxim G. Bazhenov

All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

 Redistributions of source code must retain the above copyright notice, this 
 list of conditions and the following disclaimer.

 Redistributions in binary form must reproduce the above copyright notice, this 
 list of conditions and the following disclaimer in the documentation and/or 
 other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE 
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE 
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

div.ux-maximgb-tg-mastercell-wrap
{
    border: 0px none !important;
    padding: 1px 0 !important;
    margin: 0px !important;
}

.ux-maximgb-tg-uiwrap
{
	float: left; 
	position: relative;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
}

.ux-maximgb-tg-elbow-active
{
	cursor: pointer;
}

.sch-gantt-parent
{
	position: absolute;
	height: 16px; 
	width: 16px;
	overflow: hidden;
	background: url(../../../images/custom/gantt/gantt-arrows.gif) no-repeat;
}

.ux-maximgb-tg-elbow-minus
{
	background-position: 0 1px;
}

div.ux-maximgb-tg-elbow-minus:hover
{
	background-position: 0 -15px;
}

.ux-maximgb-tg-elbow-plus
{
	background-position: 0 -31px;
}

div.ux-maximgb-tg-elbow-plus:hover
{
	background-position: 0 -47px;
}

