/*!
 * surveyjs - Survey JavaScript library v1.1.24
 * Copyright (c) 2015-2019 Devsoft Baltic OÜ  - http://surveyjs.io/
 * License: MIT (http://www.opensource.org/licenses/mit-license.php)
 */


.sv-visuallyhidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.sv-hidden {
  display: none !important; }

.sv-container-modern {
  color: #404040;
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

.sv-container-modern__title {
  padding-left: 0.55em;
  color: #a9a9a9;
  padding-top: 2.2em;
  padding-bottom: 0.9375em; }
  @media only screen and (min-width: 1000px) {
    .sv-container-modern__title {
      margin-right: 5%;
      margin-left: 5%; } }
  @media only screen and (max-width: 1000px) {
    .sv-container-modern__title {
      margin-right: 10px;
      margin-left: 10px; } }

.sv-container-modern__title h3 {
  margin: 0;
  font-size: 1.875em; 
  color: #6f6f6f;}

.sv-container-modern__title h5 {
  margin: 0; }

.sv-container-modern fieldset {
  border: none;
  padding: 0;
  margin: 0; }

.sv-container-modern legend {
  border: none;
  padding: 0;
  margin: 0; }

@media only screen and (min-width: 1000px) {
  .sv-body__page,
  .sv-body__footer {
    margin-right: 5%;
    margin-left: 5%; } }

@media only screen and (max-width: 1000px) {
  .sv-body__page,
  .sv-body__footer {
    margin-right: 10px;
    margin-left: 10px; } }

.sv-body__progress {
  margin-bottom: 4.5em; }

.sv-body__progress:not(:first-child) {
  margin-top: 2.5em; }

.sv-page__title {
  margin: 0;
  margin-bottom: 1.333em;
  font-size: 1.875em;
  padding-left: 0.293em; }

.sv-page__description {
  margin-top: -2.8em;
  min-height: 2.8em;
  font-size: 1em;
  padding-left: 0.55em; }

.sv-panel {
  box-sizing: border-box; }

.sv-panel__title {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  padding-bottom: 0.1em;
  padding-left: 0.44em; }

.sv-panel__description {
  padding-left: 0.55em; }

.sv-panel__title--expandable {
  cursor: pointer; }

.sv-panel__icon:before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23404040;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  height: 0.5em;
  width: 0.6em;
  margin-left: 1.5em;
  vertical-align: middle; }

.sv-panel__icon--expanded:before {
  transform: rotate(180deg); }

.sv-panel .sv-question__title {
  font-size: 1em;
  padding-left: 0.55em; }

.sv-panel__content:not(:first-child) {
  margin-top: 0.75em; }

.sv-panel .sv-row:not(:last-child) {
  padding-bottom: 1.875em; }

.sv-paneldynamic__progress-container {
  position: relative;
  margin-left: 0.75em;
  margin-right: 250px;
  margin-top: 20px; }

.sv-paneldynamic__add-btn {
  background-color: #1948b3;
  float: right;
  margin-top: -18px; }

[dir="rtl"] .sv-paneldynamic__add-btn, [style*="direction:rtl"] .sv-paneldynamic__add-btn {
  float: left; }

.sv-paneldynamic__add-btn--list-mode {
  float: none;
  margin-top: 1em; }

.sv-paneldynamic__remove-btn {
  background-color: #ff1800;
  margin-top: 1.25em; }

.sv-paneldynamic__prev-btn,
.sv-paneldynamic__next-btn {
  box-sizing: border-box;
  display: inline-block;
  fill: #404040;
  cursor: pointer;
  width: 0.7em;
  top: -0.28em;
  position: absolute; }

.sv-paneldynamic__prev-btn {
  left: -1.3em;
  transform: rotate(90deg); }

.sv-paneldynamic__next-btn {
  right: -1.3em;
  transform: rotate(270deg); }

.sv-paneldynamic__prev-btn--disabled,
.sv-paneldynamic__next-btn--disabled {
  fill: #dbdbdb;
  cursor: auto; }

.sv-paneldynamic__progress-text {
  color: #9d9d9d;
  font-weight: bold;
  font-size: 0.87em;
  margin-top: 0.69em;
  margin-left: 1em; }

.sv-paneldynamic__separator {
  border: none;
  margin: 0; }

.sv-paneldynamic .sv-panel ~ .sv-panel {
  padding-top: 2.5em; }

.sv-paneldynamic__progress--top {
  margin-bottom: 1em; }

.sv-paneldynamic__progress--bottom {
  margin-top: 1em; }

.sv-row__question {
  vertical-align: top;
  white-space: normal; }

.sv-row__question:not(:last-child) {
  float: left; }
  @media only screen and (max-width: 600px) {
    .sv-row__question:not(:last-child) {
      padding-bottom: 2.5em;
      float: none; } }

[dir="rtl"] .sv-row__question:not(:last-child), [style*="direction:rtl"] .sv-row__question:not(:last-child) {
  float: right; }

.sv-row:not(:last-child) {
  padding-bottom: 2.5em; }

@media only screen and (min-width: 1000px) {
  .sv-row__question--small:only-child {
    max-width: 50%; } }

@media only screen and (max-width: 600px) {
  .sv-row__question {
    width: 100% !important;
    padding-right: 0 !important; } }

.sv-question {
  overflow: auto;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.sv-question__title {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 1.75em;
  margin: 0;
  padding: 0.25em 0.44em;
  cursor: default;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.25em; }

.sv-question__required-text {
  position: absolute;
  top: 0;
  font-size: 1.4em; }

.sv-question__description {
  overflow: hidden;
  margin: 0;
  padding-left: 0.55em;
  white-space: inherit;
  text-overflow: ellipsis;
  font-size: 1em; }

.sv-question__input {
  width: 100%;
  height: 1.81em; }

.sv-question__content {
  margin-left: 0.55em; }

.sv-question__erbox {
  color: #d52901;
  font-size: 0.74em;
  font-weight: bold; }

.sv-question__erbox--location--top {
  margin-bottom: 0.4375em; }

.sv-question__erbox--location--bottom {
  margin-top: 0.4375em; }

.sv-question__footer {
  padding: 0.87em 0; }

.sv-question__title--answer {
  background-color: rgba(26, 133, 179, 0.2); }

.sv-question__title--error {
  background-color: rgba(213, 41, 1, 0.2); }

.sv-question__header--location--top {
  margin-bottom: 0.65em; }

.sv-question__header--location--left {
  float: left;
  width: 27%;
  margin-right: 0.875em; }

[dir="rtl"] .sv-question__header--location--left, [style*="direction:rtl"] .sv-question__header--location--left {
  float: right; }

.sv-question__header--location--bottom {
  margin-top: 0.8em; }

.sv-question__content--left {
  overflow: hidden; }

.sv-question__other {
  margin-top: 0.5em; }

.sv-question__form-group {
  margin-top: 0.5em; }

.sv-progress {
  height: 0.19em;
  background-color: #e7e7e7; }

.sv-progress__bar {
  position: relative;
  height: 100%;
  background-color: #ff9800; }

.sv-progress__text {
  position: absolute;
  margin-top: 0.69em;
  color: #9d9d9d;
  font-size: 0.87em;
  font-weight: bold;
  padding-left: 0.6321em; }
  @media only screen and (min-width: 1000px) {
    .sv-progress__text {
      margin-left: 5%; } }
  @media only screen and (max-width: 1000px) {
    .sv-progress__text {
      margin-left: 10px; } }

.sv-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

.sv-description {
  color: rgba(64, 64, 64, 0.5); }

.sv-question .sv-selectbase {
  margin-bottom: 4px; }

.sv-selectbase__item {
  margin-bottom: 0.425em;
  vertical-align: top; }

.sv-selectbase__item--inline {
  display: inline-block;
  padding-right: 5%; }

.sv-selectbase__column {
  min-width: 19%;
  vertical-align: top; }

.sv-selectbase__label {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  cursor: inherit;
  white-space: nowrap;
  text-overflow: ellipsis; }

.sv-selectbase__clear-btn {
  margin-top: 0.9em;
  background-color: #1948b3; }

.sv-multipletext__row:not(:last-child) {
  margin-bottom: 1em; }

.sv-multipletext__cell:not(:first-child) {
  padding-left: 0.5em; }

.sv-multipletext__cell:not(:last-child) {
  padding-right: 0.5em; }

.sv-matrix {
  overflow-x: auto; }

.sv-matrix__label {
  display: inline-block;
  margin: 0; }

.sv-matrix__cell {
  min-width: 10em; }

.sv-matrix__text {
  cursor: pointer; }

.sv-matrix__text--сhecked {
  color: #ffffff;
  background-color: #ff9800; }

.sv-matrix__text--disabled {
  cursor: default; }
  .sv-matrix__text--disabled.sv-matrix__text--сhecked {
    background-color: #dbdbdb; }

.sv-matrixdynamic__add-btn {
  background-color: #1948b3; }

.sv-matrixdynamic__remove-btn {
  background-color: #ff1800; }

.sv-root-modern ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #9f9f9f; }

.sv-root-modern ::-webkit-scrollbar-thumb {
  background: #ff9800; }

.sv-table {
  width: 100%;
  background-color: rgba(159, 159, 159, 0.1);
  padding: 0.9375em 1.875em 1.5625em;
  border-collapse: separate;
  border-spacing: 2px; }

.sv-table__cell {
  padding: 0.9375em 0; }

.sv-table__cell:not(:last-child) {
  padding-right: 1em; }

.sv-table__cell:not(:first-child) {
  padding-left: 1em; }

.sv-table__cell--header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: left; }

.sv-footer {
  min-height: 2em;
  padding: 2.5em 0 0.87em 0; }

.sv-footer__complete-btn {
  background-color: #ff9800;
  float: right; }

.sv-footer__next-btn {
  background-color: #ff9800;
  float: right; }

.sv-footer__prev-btn {
  background-color: #ff9800;
  float: left; }

.sv-footer__start-btn {
  background-color: #ff9800; }

[dir="rtl"] .sv-footer__complete-btn, [style*="direction:rtl"] .sv-footer__complete-btn {
  float: left; }

[dir="rtl"] .sv-footer__next-btn, [style*="direction:rtl"] .sv-footer__next-btn {
  float: left; }

[dir="rtl"] .sv-footer__prev-btn, [style*="direction:rtl"] .sv-footer__prev-btn {
  float: right; }

.sv-btn {
  border: none;
  border-radius: 1.214em;
  color: #ffffff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 0.5em 2.786em 0.6em;
  text-align: left; }

.sv-item {
  position: relative;
  cursor: pointer; }

.sv-item--disabled {
  cursor: default; }

.sv-item__decorator {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: solid 1px transparent;
  vertical-align: middle; }

.sv-item__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.sv-item__control:focus + .sv-item__decorator {
  border-color: #ff9800;
  outline: none; }

.sv-item__control-label {
  margin-left: 0.4125em;
  vertical-align: middle; }

.sv-checkbox__decorator {
  border-radius: 2px; }

.sv-checkbox__svg {
  border: 3px solid rgba(64, 64, 64, 0.5);
  border-radius: 2px;
  fill: transparent; }

.sv-checkbox--allowhover:hover .sv-checkbox__svg {
  border: none;
  background-color: #9f9f9f;
  fill: white; }

.sv-checkbox--checked .sv-checkbox__svg {
  border: none;
  background-color: #ff9800;
  fill: white; }

.sv-checkbox--checked.sv-checkbox--disabled .sv-checkbox__svg {
  border: none;
  background-color: #dbdbdb;
  fill: white; }

.sv-checkbox--disabled .sv-checkbox__svg {
  border: 3px solid #dbdbdb; }

.sv-radio__decorator {
  border-radius: 100%; }

.sv-radio__svg {
  border: 3px solid rgba(64, 64, 64, 0.5);
  border-radius: 100%;
  fill: transparent; }

.sv-radio--allowhover:hover .sv-radio__svg {
  fill: rgba(64, 64, 64, 0.5); }

.sv-radio--checked .sv-radio__svg {
  border-color: #404040;
  fill: #404040; }

.sv-radio--disabled .sv-radio__svg {
  border-color: #dbdbdb; }

.sv-radio--disabled.sv-radio--checked .sv-radio__svg {
  fill: #dbdbdb; }

.sv-boolean {
  display: block;
  position: relative;
  line-height: 1.5em; }

.sv-boolean__switch {
  float: left;
  box-sizing: border-box;
  width: 4em;
  height: 1.5em;
  margin-right: 1.0625em;
  margin-left: 1.3125em;
  padding: 0.125em 0.1875em;
  border-radius: 0.75em; }

[dir="rtl"] .sv-boolean__switch, [style*="direction:rtl"] .sv-boolean__switch {
  float: right; }

.sv-boolean__slider {
  display: block;
  width: 1.25em;
  height: 1.25em;
  transition-duration: 0.1s;
  transition-property: margin-left;
  transition-timing-function: linear;
  border: none;
  border-radius: 100%; }

.sv-boolean--indeterminate .sv-boolean__slider {
  margin-left: calc(50% - 0.625em); }

.sv-boolean--checked .sv-boolean__slider {
  margin-left: calc(100% - 1.25em); }

.sv-boolean__label {
  float: left; }

[dir="rtl"] .sv-boolean__label, [style*="direction:rtl"] .sv-boolean__label {
  float: right; }

.sv-imagepicker__item {
  border: none;
  padding: 0.24em; }

.sv-imagepicker__item--inline {
  display: inline-block; }

.sv-imagepicker__item--inline:not(:last-child) {
  margin-right: 4%; }

.sv-imagepicker__image {
  border: 0.24em solid transparent;
  display: block;
  pointer-events: none; }

.sv-imagepicker__label {
  cursor: inherit; }

.sv-imagepicker__text {
  font-size: 1.14em;
  padding-left: 0.24em; }

.sv-imagepicker__item--allowhover:hover .sv-imagepicker__image {
  background-color: #9f9f9f;
  border-color: #9f9f9f; }

.sv-imagepicker__item--checked .sv-imagepicker__image {
  background-color: #ff9800;
  border-color: #ff9800; }

.sv-imagepicker__item {
  cursor: pointer; }

.sv-imagepicker__item--disabled {
  cursor: default; }

.sv-imagepicker__item--disabled.sv-imagepicker__item--checked .sv-imagepicker__image {
  background-color: #dbdbdb;
  border-color: #dbdbdb; }

.sv-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  background: transparent;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23404040;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.57em 100%;
  border: none;
  border-bottom: 0.06em solid #d4d4d4;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 0.25em 1.5em 0.25em 0.87em;
  height: 2.18em;
  width: 100%; }

.sv-dropdown:focus {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ff9800;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E ");
  border-color: #d4d4d4;
  outline: none; }

.sv-dropdown::-ms-expand {
  display: none; }

.sv-dropdown--error {
  border-color: #d52901;
  color: #d52901; }

.sv-dropdown--error::placeholder {
  color: #d52901; }

.sv-text {
  box-sizing: border-box;
  width: 100%;
  height: 2.18em;
  padding: 0.25em 0 0.25em 0.87em;
  border: none;
  border-radius: 0;
  border-bottom: 0.07em solid #d4d4d4;
  box-shadow: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1em; }

.sv-text:focus {
  border-color: #ff9800;
  outline: none;
  box-shadow: none; }

.sv-text:invalid {
  box-shadow: none; }

.sv-text:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset; }

.sv-text::placeholder {
  color: #404040; }

.sv-text[type="date"] {
  padding-right: 2px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23404040;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, repeat;
  background-position: right 0.61em top 50%, 0 0;
  background-size: 0.57em auto, 100%; }

.sv-text[type="date"]:focus {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 10' style='enable-background:new 0 0 10 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23ff9800;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='2,2 0,4 5,9 10,4 8,2 5,5 '/%3E%3C/svg%3E "); }

.sv-text[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: transparent; }

.sv-text[type="date"]::-webkit-clear-button {
  display: none; }

.sv-text[type="date"]::-webkit-inner-spin-button {
  display: none; }

.sv-text--error {
  color: #d52901;
  border-color: #d52901; }

.sv-text--error::placeholder {
  color: #d52901; }

.sv-rating {
  color: #404040;
  padding-bottom: 3px; }
  .sv-rating input:focus + .sv-rating__min-text + .sv-rating__item-text,
  .sv-rating input:focus + .sv-rating__item-text {
    outline: 1px solid #ff9800;
    outline-offset: 2px; }

.sv-rating__item {
  position: relative;
  display: inline; }

.sv-rating__item-text {
  min-width: 2.3125em;
  height: 2.3125em;
  display: inline-block;
  color: #9f9f9f;
  padding: 0 0.3125em;
  border: solid 0.1875em #9f9f9f;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.13;
  cursor: pointer;
  margin-right: 0.26em;
  box-sizing: border-box; }
  .sv-rating__item-text > span {
    margin-top: 0.44em;
    display: inline-block; }
  .sv-rating__item-text:hover {
    background-color: #9f9f9f;
    color: white; }

.sv-rating__item--selected .sv-rating__item-text {
  background-color: #ff9800;
  color: white;
  border-color: #ff9800; }

.sv-rating__min-text {
  font-size: 1em;
  margin-right: 1.25em;
  cursor: pointer; }
  @media only screen and (max-width: 600px) {
    .sv-rating__min-text {
      display: none; } }

.sv-rating__max-text {
  font-size: 1em;
  margin-left: 0.87em;
  cursor: pointer; }
  @media only screen and (max-width: 600px) {
    .sv-rating__max-text {
      display: none; } }

.sv-rating--disabled .sv-rating__item-text {
  cursor: default;
  color: #dbdbdb;
  border-color: #dbdbdb; }
  .sv-rating--disabled .sv-rating__item-text:hover {
    background-color: transparent; }

.sv-rating--disabled .sv-rating__item--selected .sv-rating__item-text {
  background-color: #dbdbdb;
  color: white; }

.sv-rating--disabled .sv-rating__min-text {
  cursor: default; }

.sv-rating--disabled .sv-rating__max-text {
  cursor: default; }

.sv-comment {
  border: 0.06em solid #d4d4d4;
  box-sizing: border-box;
  padding: 0.25em 0.87em;
  font-family: inherit;
  font-size: 1em;
  outline: none;
  width: 100%; }

.sv-comment:focus {
  border-color: #ff9800; }

.sv-file {
  position: relative; }

.sv-file__decorator {
  background-color: #f5f5f5;
  padding: 1.68em 0; }

.sv-file__clean-btn {
  background-color: #ff1800;
  margin-top: 1.25em; }

.sv-file__choose-btn {
  background-color: #1948b3;
  display: inline-block; }

.sv-file__choose-btn--disabled {
  cursor: default;
  background-color: #dbdbdb;
  display: inline-block; }

.sv-file__no-file-chosen {
  display: inline-block;
  font-size: 0.87em;
  margin-left: 1em; }

.sv-file__preview {
  display: inline-block;
  padding-right: 23px;
  position: relative;
  margin-top: 1.25em;
  vertical-align: top; }

.sv-file__preview:not(:last-child) {
  margin-right: 31px; }

.sv-file__remove-svg {
  position: absolute;
  fill: #ff1800;
  cursor: pointer;
  height: 16px;
  top: 0;
  right: 0;
  width: 16px; }

.sv-file__sign a {
  color: #404040;
  text-align: left;
  text-decoration: none; }

.sv-file__wrapper {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 50%;
  transform: translate(-50%, 0);
  padding: 0; }

.sv-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.sv-completedpage {
  font-family: "Open Sans", sans-serif;
  font-size: 1.875em;
  font-weight: bold;
  box-sizing: border-box;
  height: 14em;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
  text-align: center;
  color: #404040;
  background-color: #f5f5f5; }

.sv-completedpage:before {
  display: block;
  width: 72px;
  height: 72px;
  margin-left: calc(50% - 36px);
  content: "";
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.0.6, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 72 72' style='enable-background:new 0 0 72 72;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%239A9A9A;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M11.9,72c-0.6-0.1-1.2-0.3-1.8-0.4C4.2,70.1,0,64.7,0,58.6c0-15.1,0-30.1,0-45.2C0,6,6,0,13.4,0 c12,0,24,0,36,0c2.4,0,4.4,1.7,4.6,4c0.2,2.4-1.3,4.4-3.6,4.9C50,9,49.7,9,49.4,9C37.6,9,25.8,9,14,9c-1.5,0-2.8,0.4-3.9,1.5 c-0.8,0.9-1.2,2-1.2,3.2c0,8.2,0,16.4,0,24.6C9,45,9,51.6,9,58.2c0,2.9,1.9,4.8,4.8,4.8c14.9,0,29.7,0,44.6,0c2.6,0,4.6-2,4.6-4.6 c0-5.9,0-11.8,0-17.7c0-2.4,1.6-4.3,3.9-4.6c2.3-0.3,4.3,1,5,3.4c0,0.1,0.1,0.2,0.1,0.2c0,6.8,0,13.6,0,20.4c0,0.1-0.1,0.3-0.1,0.4 c-0.8,5.4-4.7,9.8-10.1,11.2c-0.6,0.1-1.2,0.3-1.8,0.4C44,72,28,72,11.9,72z'/%3E%3Cpath class='st0' d='M35.9,38.8c0.4-0.4,0.5-0.7,0.7-0.9c8.4-8.4,16.8-16.8,25.2-25.2c1.9-1.9,4.5-2,6.3-0.4 c1.9,1.6,2.1,4.6,0.4,6.4c-0.2,0.2-0.3,0.3-0.5,0.5c-9.5,9.5-19.1,19.1-28.6,28.6c-2.2,2.2-4.8,2.2-7,0 c-5.1-5.1-10.2-10.2-15.4-15.4c-1.3-1.3-1.7-2.8-1.2-4.5c0.5-1.7,1.6-2.8,3.4-3.1c1.6-0.4,3.1,0.1,4.2,1.3c4,4,7.9,7.9,11.9,11.9 C35.6,38.2,35.7,38.5,35.9,38.8z'/%3E%3C/g%3E%3C/svg%3E%0A"); }

@media only screen and (min-width: 1000px) {
  .sv-completedpage {
    margin-right: 5%;
    margin-left: calc(5% + 0.293em); } }

@media only screen and (max-width: 1000px) {
  .sv-completedpage {
    margin-left: calc(10px + 0.293em);
    margin-right: 10px; } }
.close-button{
    background: #03A9F4;
    border: 0;
    padding: 5px 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.close-button:hover{
  box-shadow:0 0 5px gray;
}
