.single-upload .card {
	border-radius: 4px;
	background-color: #ffffff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	padding: 0;
}

.single-upload .card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.single-upload .float-right {
	float: right !important;
}

.single-upload .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}


.single-upload *,
 ::after,
 ::before {
	box-sizing: inherit;
}

.single-upload .col,
.single-upload .col-1,
.single-upload .col-10,
.single-upload .col-11,
.single-upload .col-12,
.single-upload .col-2,
.single-upload .col-3,
.single-upload .col-4,
.single-upload .col-5,
.single-upload .col-6,
.single-upload .col-7,
.single-upload .col-8,
.single-upload .col-9,
.single-upload .col-auto,
.single-upload .col-lg,
.single-upload .col-lg-1,
.single-upload .col-lg-10,
.single-upload .col-lg-11,
.single-upload .col-lg-12,
.single-upload .col-lg-2,
.single-upload .col-lg-3,
.single-upload .col-lg-4,
.single-upload .col-lg-5,
.single-upload .col-lg-6,
.single-upload .col-lg-7,
.single-upload .col-lg-8,
.single-upload .col-lg-9,
.single-upload .col-lg-auto,
.single-upload .col-md,
.single-upload .col-md-1,
.single-upload .col-md-10,
.single-upload .col-md-11,
.single-upload .col-md-12,
.single-upload .col-md-2,
.single-upload .col-md-3,
.single-upload .col-md-4,
.single-upload .col-md-5,
.single-upload .col-md-6,
.single-upload .col-md-7,
.single-upload .col-md-8,
.single-upload .col-md-9,
.single-upload .col-md-auto,
.single-upload .col-sm,
.single-upload .col-sm-1,
.single-upload .col-sm-10,
.single-upload .col-sm-11,
.single-upload .col-sm-12,
.single-upload .col-sm-2,
.single-upload .col-sm-3,
.single-upload .col-sm-4,
.single-upload .col-sm-5,
.single-upload .col-sm-6,
.single-upload .col-sm-7,
.single-upload .col-sm-8,
.single-upload .col-sm-9,
.single-upload .col-sm-auto,
.single-upload .col-xl,
.single-upload .col-xl-1,
.single-upload .col-xl-10,
.single-upload .col-xl-11,
.single-upload .col-xl-12,
.single-upload .col-xl-2,
.single-upload .col-xl-3,
.single-upload .col-xl-4,
.single-upload .col-xl-5,
.single-upload .col-xl-6,
.single-upload .col-xl-7,
.single-upload .col-xl-8,
.single-upload .col-xl-9,
.single-upload .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.single-upload .text-center {
	text-align: center !important;
}



.single-upload *, .single-upload ::after,.single-upload ::before {
    box-sizing: border-box;
}
.single-upload .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.single-upload .mb-1, .single-upload .my-1 {
    margin-bottom: .25rem!important;
}

.single-upload .media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.single-upload .mb-2, .single-upload .my-2 {
    margin-bottom: .5rem!important;
}
.single-upload p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.single-upload .text-success {
    color: #28a745!important;
}
.single-upload b, .single-upload strong {
    font-weight: bolder;
}

.single-upload .progress {
    height: 1.5rem;
}
.single-upload .mb-2, .single-upload .my-2 {
    margin-bottom: .5rem!important;
}
.single-upload .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.single-upload .mb-1, .single-upload .my-1 {
    margin-bottom: .25rem!important;
}

.single-upload .mt-1, .single-upload .my-1 {
    margin-top: .25rem!important;
}
.single-upload hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.single-upload hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.single-upload hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.single-upload .bg-primary {
    background-color: #007bff!important;
}
.single-upload .bg-success {
    background-color: #28a745!important;
}
.single-upload .progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}
.single-upload .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
}

.single-upload .dm-uploader.active {
    border-color: red;
    border-style: solid;
}
.single-upload .text-danger {
    color: #dc3545!important;
}

.single-upload .progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}
/** ul list list-unstyled p-2 d-flex flex-column col */
/* @media (min-width: 768px)
.single-upload #files {
    min-height: 0;
} */
.single-upload #files {
    overflow-y: scroll !important;
    min-height: 320px;
}
.single-upload .p-2 {
    padding: .5rem!important;
}
.single-upload .flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.single-upload .d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.single-upload .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.single-upload .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.single-upload ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.single-upload .col {
    margin:0;
}
.single-upload .mb-4, .single-upload .my-4 {
    margin-bottom: 1.5rem!important;
}
.single-upload .mt-4, .single-upload .my-4 {
    margin-top: 1.5rem!important;
}
/** oploader drag-and-drop-zone */
.single-upload .p-5 {
    padding: 3rem!important;
}
.single-upload .dm-uploader {
    border: 0.25rem dashed #A5A5C7;
    margin:2em;
}
/** d&d heading  */
.single-upload .text-muted {
    color: #868e96!important;
}
.single-upload .mb-5, .single-upload .my-5 {
    margin-bottom: 3rem!important;
}
.single-upload .mt-5, .single-upload .my-5 {
    margin-top: 3rem!important;
}
.single-upload .h3, .single-upload  h3 {
    font-size: 1.75rem;
}
.single-upload .h1,
.single-upload .h2,
.single-upload .h3,
.single-upload .h4,
.single-upload .h5,
.single-upload .h6,
.single-upload  h1,
.single-upload  h2,
.single-upload  h3,
.single-upload  h4,
.single-upload  h5,
.single-upload  h6 
{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
/**btn div */
.single-upload .btn:not([disabled]):not(.disabled) {
    cursor: pointer;
}
.single-upload .dm-uploader .btn {
    position: relative;
    overflow: hidden;
}
.single-upload .mb-5, .single-upload .my-5 {
    margin-bottom: 3rem!important;
}
.single-upload .btn-block {
    display: block;
    width: 100%;
}
.single-upload .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.single-upload .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/** list card */
.single-upload .h-100 {
    height: 100%!important;
}
/** card-header*/
.single-upload .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.single-upload .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.single-upload .mb-3, .single-upload .my-3 {
    margin-bottom: 1rem!important;
}

.single-upload .mt-3, .single-upload .my-3 {
    margin-top: 1rem!important;
}

.single-upload .dm-uploader .btn input[type="file"]{
    height: 36px;
}
