   /* bootstrap-enbaled is a custom classname to increases the specificity of our styles. It can be anything. 
   * The idea is that it is easy to extend/override builtin styles with very little effort.
   */
   
   .bootstrap-enbaled .dropdown-trigger {
       border-radius: 0;
   }
   
   .bootstrap-enbaled .dropdown-trigger>span:after {
       font-size: 1rem;
       color: #555;
   }
   
   .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after,
   .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after {
       color: #999!important;
   }
   
   .radio-item,
   .checkbox-item {
       -webkit-appearance: none;
       -moz-appearance: none;
       -ms-appearance: none;
       -o-appearance: none;
       appearance: none;
       height: 1rem;
       width: 1rem;
       transition: all 0.15s ease-out 0s;
       background: #cbd1d8;
       border: none;
       color: #fff;
       cursor: pointer;
       font-weight: 900;
       font-family: "Font Awesome 5 Free";
       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       display: inline-block;
       font-style: normal;
       -webkit-font-feature-settings: normal;
       font-feature-settings: normal;
       font-variant: normal;
       text-rendering: auto;
       line-height: 1;
       padding: 1px!important;
       border-radius: 3px;
   }
   
   .radio-item:hover,
   .checkbox-item:hover {
       background: #818a91;
   }
   
   .radio-item:checked,
   .checkbox-item:checked {
       background: #20a8d8;
       border-color: #1985ac;
   }
   
   .radio-item:checked::before,
   .checkbox-item:checked::before {
       content: "\f00c";
   }
   
   .radio-item {
       border-radius: 50%;
   }
   
   .radio-item::after {
       border-radius: 50%;
   }
   /** display only component */
   
   .tree-select-no-edit li.tag-item:last-child,
   .tree-select-no-edit li.tag-item span.tag button.tag-remove,
   .tree-select-no-edit .dropdown .dropdown-trigger.arrow.bottom:after {
       display: none;
   }
   
   .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.disabled {
       background: #e9e9e9;
   }
   
   .tree-select-no-edit .tag {
       background-color: #f4f4f4;
       border: 1px solid #b9b9b9;
       padding: 2px 2px 2px 2px;
       border-radius: 0.3rem;
       display: inline-block;
   }
   /** adapting to system */
   
   .react-dropdown-tree-select .dropdown .dropdown-trigger {
       border: 1px solid #d1d4d7!important;
   }
   
   .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top,
   .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow:focus {
       color: #3e515b;
       background-color: #fff;
       border-color: #8ad4ee;
       outline: 0;
       -webkit-box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, .25);
       box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, .25);
   }
   
   .react-dropdown-tree-select .tag {
       font-size: .875rem;
       line-height: 1.5;
       color: #3e515b;
   }
   
   .dropdown .dropdown-trigger.arrow {
       background: white;
   }
   
   .react-dropdown-tree-select .dropdown .dropdown-trigger.arrow:hover {
       text-decoration: none;
   }