body{
	font-size:15px;
	background-color:#ebecf1;
}


@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1000px;
  }
}

.off-canvas-sidebar, .sidebar {
    z-index: 2;
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
}

.panel-header {
/*   #5a6279 background: linear-gradient(130deg,#9576d0,#8073c8); /*#9d7cff #797575; #8680dd; #7a62a9 linear-gradient(130deg,#6e7b8e,#625784) rgb(251, 51, 101)
background-image: url(../css/img/pattern.svg) !important;
    background-position: right center,center center;
*/
    background: #515151;    
}
    
.sidebar .sidebar-wrapper [data-toggle="collapse"] ~ div > ul > li.active > a .sidebar-mini-icon, .sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li.active > a .sidebar-normal{
    color: #212326;
}

.panel-header-sm {
    height: 125px;
}

.notifications .list-move {
  transition: transform 0.3s, opacity 0.4s;
}
.notifications .list-item {
  display: inline-block;
  margin-right: 10px;
}
.notifications .list-enter-active {
  transition: transform 0.2s ease-in, opacity 0.4s ease-in;
}
.notifications .list-leave-active {
  transition: transform 1s ease-out, opacity 0.4s ease-out;
}
.notifications .list-enter {
  opacity: 0;
  transform: scale(1.1);
}
.notifications .list-leave-to {
  opacity: 0;
  transform: scale(1.2, 0.7);
}


.notifications .alert {
  position: fixed;
  z-index: 10000;
}
.notifications .alert[data-notify="container"] {
  width: 400px;
}
.notifications .alert.center {
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.notifications .alert.left {
  left: 20px;
}
.notifications .alert.right {
  right: 20px;
}




@media (min-width: 992px) {
   .navbar-search-form-mobile,
   .nav-mobile-menu{
     display: none;
   }
}
 
 
 
.dropdown {
   list-style-type: none;
}

.dropdown .dropdown-toggle {
   cursor: pointer;
}




@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    opacity: 1;
  }
}
.main-panel .zoomIn {
  animation-name: zoomIn95;
}
@keyframes zoomOut95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.95, 0.95, 0.95);
  }
}
.main-panel .zoomOut {
  animation-name: zoomOut95;
}



.not-found-page .full-page > .content, .not-found-page .centered {
  min-height: calc(100vh - 160px);
}
.not-found-page .not-found-icon {
  margin-right: 10px;
}
.not-found-page .centered {
  display: flex;
  padding-bottom: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.not-found-page .centered h1, .not-found-page .centered i {
  font-size: 50px;
}
.not-found-page .centered p {
  font-size: 20px;
}



@keyframes zoomIn8 {
  from {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
  100% {
    opacity: 1;
  }
}
.wrapper-full-page .zoomIn {
  animation-name: zoomIn8;
}
@keyframes zoomOut8 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
}
.wrapper-full-page .zoomOut {
  animation-name: zoomOut8;
}


.input-group-addon.input-group-append {
    border-radius: 0 30px 30px 0;
    margin-left: 0;
}

.modal.show {
    background-color: rgba(0,0,0,.3);
}

.el-loading-spinner .path {
  stroke: #66615B !important;
}

.el-select, .iwb-control {
    display: block;
}
.modal-body label {
    margin-bottom: .1rem;
    margin-top: .2rem;
}

h2.modal-title {
    margin-top: -10px;
}

.modal-title span{
    font-size: 1.5rem;
    color: #afafaf;
}

.modal-content .modal-body + .modal-footer {
    padding-top: 1rem;
}


.validation-error input,.validation-error textarea,.validation-error .Select-control {
	border: 1px solid #f86c6b !important;
}

.validation-error small{
    padding: .15rem .5rem;
    margin-top: 0;
    background-color: #f86c6b !important;
    color: white !important;
    border-radius: 50px;
}

.breadcrumb-link.active, .navbar a:not(.btn):not(.dropdown-item){
	color: rgba(255,255,255,.9) !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255,255,255,.8);
}

ul.breadcrumb {
    display: contents;
    color: rgba(255,255,255,.7) !important;
}

.btn-home {
    background-color: #fb3365;
    color: #FFFFFF;
}

.el-button--danger{
	    background: #fb3365;
}

.sidebar:after, .off-canvas-sidebar:after {
    background: #2ca8ff;/*#fb3365 linear-gradient(#727680 0%, #000 80%) !important;*/
}

/*
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a, .sidebar .nav li.active > a[data-toggle="collapse"] + div .nav .active a:after, .off-canvas-sidebar .nav li.active > a[data-toggle="collapse"] + div .nav .active a:after {
    border-radius: 3px;
}
*/

.iwb-raw-value{
	display:block;
	border:1px solid gray;
	width:100%;
}

.card-timeline .timeline:before,.card-timeline .timeline > li > .timeline-badge {
    left: 10px;
}

.card-timeline .timeline > li.timeline-inverted > .timeline-panel {
	float: left;
    left: 59px;
}

.card-timeline .timeline > li > .timeline-panel {
    width: 95%;
    padding: 5px;
}

.card-timeline .timeline-heading {
    margin: 0;
    padding: 10px;
}

.form-group label{
	display:block;
}

.form-group.lrequired label:after{
	content:'*';
	color:red;
	margin-left: 3px;
}

.el-input-number__decrease, .el-input-number__increase {
    background: #8cc5ff;
    color: white;
}
.el-input-number__decrease:hover, .el-input-number__increase:hover {
    background:#3999ff;
    color: white;
}
    
/* rounded*/

.el-input-number__decrease {
    border-radius: 20px 0 0 20px;
}
.el-input-number__increase {
    border-radius: 0 20px 20px 0;
}

.el-input__inner,.el-textarea__inner  {
    border-radius: 20px;
}
/*
.modal-content .modal-header {
    border-bottom: none;
    padding: 20px;
    background: linear-gradient(130deg,#f96332,darkorange);
    color: white;
}

.modal .modal-header .close {
    color: white;
}
*/
.modal-content{
	z-index:1060;
    border-top: 6px solid darkorange;
}

.modal-content .modal-body {
    padding-bottom: 36px;
}
.sidebar .nav li.active > a[data-toggle="collapse"] + div .nav .active a:after, .off-canvas-sidebar .nav li.active > a[data-toggle="collapse"] + div .nav .active a:after {
    -webkit-box-shadow: 0 5px 20px 1px rgba(39,39,39,.25);
    box-shadow: 0 5px 20px 1px rgba(39,39,39,.25);
}


ul.timeline{
	padding-bottom:0 !important;
}

.card-timeline{
	margin-bottom:0 !important;
}


.el-input.is-active .el-input__inner, .el-input__inner:focus, .el-textarea__inner:focus {
    border-color:  #c7d8ff  !important;
    box-shadow: rgba(64, 158, 255, 0.25) 0px 0px 5px 0.2rem;
}

.validation-error .el-input.is-active .el-input__inner, .validation-error .el-input__inner:focus, .validation-error .el-textarea__inner:focus {
    border-color: #ffbbba !important;
    box-shadow: rgba(255, 108, 64, 0.35) 0px 0px 5px 0.2rem;
}

.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #f1f3f5;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #f7f7f8;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #eff1f3 !important;
}

.el-table__expanded-cell {
    padding: 0 10px !important;
    background-color: #f7f7f8 !important;
    border-bottom: 1px solid #d2d2d2 !important;
}
.el-table th>.cell {
    white-space: nowrap;
}
.card.card-timeline.card-plain{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.kpi-portlet-val{
	text-align:center;width:66px;height:66px;font-size: 45px;border-radius: 55px; 
	/*box-shadow: rgba(0,0,0,.3) 0 2px 15px 1px;*/
    background: #515151;
    color: #ffffff;	
}


.timeline-badge{
	cursor:pointer;
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.timeline-badge:hover{
	transform:scale(1.1)
	
}

.card {
    border-radius: 0.25rem !important;
}

.active i.now-ui-icons{
	color:#2da8ff;
}