/*! ========================================================= * Light Bootstrap Dashboard Vue - v1.0.0 (Bootstrap 4) ========================================================= * Product Page: http://www.creative-tim.com/product/light-bootstrap-dashboard * Copyright 2017 Creative Tim (http://www.creative-tim.com) * Licensed under MIT (https://github.com/creativetimofficial/light-bootstrap-dashboard/blob/master/LICENSE.md) ========================================================= * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. */
.alert,.brand,.btn-simple,.h1,.h2,.h3,.h4,.h5,.h6,.navbar,.td-name,a,body,button.close,h1,h2,h3,h4,h5,h6,p,td{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-family:Roboto,Helvetica Neue,Arial,sans-serif;
    font-weight:400
}
.h1,.h2,.h3,.h4,h1,h2,h3,h4{
    font-weight:300;
    margin:30px 0 15px
}
.h1,h1{
    font-size:52px
}
.h2,h2{
    font-size:36px
}
.h3,h3{
    font-size:28px;
    margin:20px 0 10px
}
.h4,h4{
    font-size:22px;
    line-height:30px
}
.h5,h5{
    font-size:16px;
    margin-bottom:15px
}
.h6,h6{
    font-size:14px;
    font-weight:600;
    text-transform:uppercase
}
p{
    font-size:16px;
    line-height:1.5
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{
    color:#9a9a9a;
    font-weight:300;
    line-height:1.5
}
h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{
    font-size:60%
}
h1 .subtitle{
    display:block;
    margin:0 0 30px
}
.text-muted{
    color:#9a9a9a
}
.text-primary,.text-primary:hover{
    color:#1d62f0!important
}
.text-info,.text-info:hover{
    color:#1dc7ea!important
}
.text-success,.text-success:hover{
    color:#87cb16!important
}
.text-warning,.text-warning:hover{
    color:#ff9500!important
}
.text-danger,.text-danger:hover{
    color:#ff4a55!important
}
.wrapper,body{
    min-height:100vh;
    position:relative
}
a{
    color:#1dc7ea
}
a:focus,a:hover{
    color:#42d0ed;
    text-decoration:none
}
a:active,a:focus,button::-moz-focus-inner,input::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,select::-moz-focus-inner{
    outline:0
}
.navbar-toggle,.ui-slider-handle:focus,input:focus{
    outline:0!important
}
.form-control,.input-group-addon,.navbar,.navbar .alert,.tagsinput{
    transition:all .3s linear
}
.sidebar .nav a,.table>tbody>tr .td-actions .btn{
    transition:all .15s ease-in
}
.btn{
    transition:all .1s ease-in
}
.fa{
    width:18px;
    text-align:center
}
.margin-top{
    margin-top:50px
}
.wrapper{
    position:relative;
    top:0;
    height:100vh
}
.page-header .page-header-image{
    background-position:50%;
    background-size:cover;
    overflow:hidden;
    width:100%;
    z-index:1
}
.page-header .title-container{
    color:#fff;
    position:relative;
    top:250px;
    z-index:3
}
.page-header .filter:after{
    background:transparent linear-gradient(180deg,#9368e9,#943bea) repeat scroll 0 0/150% 150%;
    content:"";
    display:block;
    height:100%;
    left:0;
    opacity:.77;
    position:absolute;
    top:0;
    width:100%;
    z-index:2
}
.documentation .page-header,.documentation .page-header-image,.documentation .page-header-image .filter:after{
    height:100vh
}
.documentation .footer{
    z-index:3
}
.documentation .wrapper{
    margin-top:-61px;
    height:100vh
}
.documentation .navbar{
    z-index:21
}
.card-tasks .card-body .table td,.card-tasks .card-body .table td .btn{
    font-size:14px
}
.card-tasks .card-body .table td .btn-info{
    margin-top:3px;
    padding-right:0
}
.card-tasks .card-body .table td:last-child{
    padding-right:0
}
.sidebar,body>.navbar-collapse{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:260px;
    display:block;
    z-index:1;
    color:#fff;
    font-weight:200;
    background-size:cover;
    background-position:50%
}
.sidebar .sidebar-wrapper,body>.navbar-collapse .sidebar-wrapper{
    position:relative;
    max-height:calc(100vh - 75px);
    min-height:100%;
    overflow:auto;
    width:260px;
    z-index:4;
    padding-bottom:100px
}
.sidebar .sidebar-background,body>.navbar-collapse .sidebar-background{
    position:absolute;
    z-index:1;
    height:100%;
    width:100%;
    display:block;
    top:0;
    left:0;
    background-size:cover;
    background-position:50%
}
.sidebar .logo,body>.navbar-collapse .logo{
    padding:10px 5px;
    margin:0 20px;
    border-bottom:1px solid hsla(0,0%,100%,.2);
    position:relative;
    z-index:4
}
.sidebar .logo p,body>.navbar-collapse .logo p{
    float:left;
    font-size:20px;
    margin:10px;
    color:#fff;
    line-height:20px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif
}
.sidebar .logo .simple-text,body>.navbar-collapse .logo .simple-text{
    text-transform:uppercase;
    padding:0;
    display:block;
    font-size:18px;
    color:#fff;
    text-align:left;
    font-weight:400;
    line-height:40px
}
.sidebar .logo .simple-text .logo-img,body>.navbar-collapse .logo .simple-text .logo-img{
    width:40px;
    display:inline-block;
    height:40px;
    margin-left:0;
    margin-right:10px;
    background:#fff;
    border-radius:40px;
    text-align:center
}
.sidebar .logo .simple-text .logo-img img,body>.navbar-collapse .logo .simple-text .logo-img img{
    max-width:21px
}
.sidebar .nav,body>.navbar-collapse .nav{
    margin-top:20px;
    float:none;
    display:block
}
.sidebar .nav li .nav-link,body>.navbar-collapse .nav li .nav-link{
    color:#fff;
    margin:5px 15px;
    opacity:.86;
    border-radius:4px;
    display:block;
    padding:10px 15px
}
.sidebar .nav li .nav-link:hover,body>.navbar-collapse .nav li .nav-link:hover{
    background:hsla(0,0%,100%,.13);
    opacity:1
}
.sidebar .nav li .nav-link p,body>.navbar-collapse .nav li .nav-link p{
    margin:0;
    line-height:31px;
    font-size:12px;
    font-weight:600;
    text-transform:uppercase;
    display:inline-flex
}
.sidebar .nav li .nav-link i,body>.navbar-collapse .nav li .nav-link i{
    font-size:28px;
    margin-right:15px;
    width:30px;
    text-align:center;
    vertical-align:middle;
    float:left
}
.sidebar .nav li:hover .nav-link,body>.navbar-collapse .nav li:hover .nav-link{
    background:hsla(0,0%,100%,.13);
    opacity:1
}
.sidebar .nav li.active .nav-link,body>.navbar-collapse .nav li.active .nav-link{
    color:#fff;
    opacity:1;
    background:hsla(0,0%,100%,.23)
}
.sidebar .nav li.separator,body>.navbar-collapse .nav li.separator{
    margin:15px 0;
    border-bottom:1px solid hsla(0,0%,100%,.2)
}
.sidebar .nav li.separator+.nav-item,body>.navbar-collapse .nav li.separator+.nav-item{
    margin-top:31px
}
.sidebar .nav .caret,body>.navbar-collapse .nav .caret{
    margin-top:13px;
    position:absolute;
    right:30px
}
.sidebar .nav .active-pro,body>.navbar-collapse .nav .active-pro{
    position:absolute;
    width:100%;
    bottom:10px
}
.sidebar .nav .active-pro a,body>.navbar-collapse .nav .active-pro a{
    color:#fff!important
}
.sidebar .nav .nav-link,body>.navbar-collapse .nav .nav-link{
    color:#fff;
    margin:5px 15px;
    opacity:.86;
    border-radius:4px;
    text-transform:uppercase;
    line-height:30px;
    font-size:12px;
    font-weight:600
}
.sidebar .logo-tim,body>.navbar-collapse .logo-tim{
    border-radius:50%;
    border:1px solid #333;
    display:block;
    height:61px;
    width:61px;
    float:left;
    overflow:hidden
}
.sidebar .logo-tim img,body>.navbar-collapse .logo-tim img{
    width:60px;
    height:60px
}
.sidebar:after,.sidebar:before,body>.navbar-collapse:after,body>.navbar-collapse:before{
    display:block;
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:2
}
.sidebar:before,body>.navbar-collapse:before{
    opacity:.33;
    background:#000
}
.sidebar:after,body>.navbar-collapse:after{
    background:#9368e9;
    background:linear-gradient(180deg,#9368e9,#943bea);
    background-size:150% 150%;
    z-index:3;
    opacity:1
}
.sidebar.has-image:after,.sidebar[data-image]:after,body>.navbar-collapse.has-image:after,body>.navbar-collapse[data-image]:after{
    opacity:.77
}
.sidebar[data-color=black]:after,body>.navbar-collapse[data-color=black]:after{
    background:#292929;
    background:linear-gradient(180deg,#292929,#0e0e0e);
    background-size:150% 150%
}
.sidebar[data-color=blue]:after,body>.navbar-collapse[data-color=blue]:after{
    background:#35495e;
    background:linear-gradient(180deg,#35495e,#40b782);
    background-size:150% 150%
}
.sidebar[data-color=azure]:after,body>.navbar-collapse[data-color=azure]:after{
    background:#1dc7ea;
    background:linear-gradient(180deg,#1dc7ea,#4091ff);
    background-size:150% 150%
}
.sidebar[data-color=green]:after,body>.navbar-collapse[data-color=green]:after{
    background:#87cb16;
    background:linear-gradient(180deg,#87cb16,#6dc030);
    background-size:150% 150%
}
.sidebar[data-color=orange]:after,body>.navbar-collapse[data-color=orange]:after{
    background:#ffa534;
    background:linear-gradient(180deg,#ffa534,#ff5221);
    background-size:150% 150%
}
.sidebar[data-color=red]:after,body>.navbar-collapse[data-color=red]:after{
    background:#fb404b;
    background:linear-gradient(180deg,#fb404b,#bb0502);
    background-size:150% 150%
}
.sidebar[data-color=purple]:after,body>.navbar-collapse[data-color=purple]:after{
    background:#9368e9;
    background:linear-gradient(180deg,#9368e9,#943bea);
    background-size:150% 150%
}
.main-panel{
    background:hsla(240,7%,81%,.15);
    position:relative;
    float:right;
    width:calc(100% - 260px);
    min-height:100%
}
.main-panel>.content{
    padding:30px 15px;
    min-height:calc(100% - 123px)
}
.main-panel>.footer{
    border-top:1px solid #e7e7e7
}
.main-panel .navbar{
    margin-bottom:0
}
.main-panel,.sidebar{
    overflow:auto;
    max-height:100%;
    height:100%;
    transition-property:top,bottom;
    transition-duration:.2s,.2s;
    transition-timing-function:linear,linear;
    -webkit-overflow-scrolling:touch
}
.fixed-plugin .dropdown .dropdown-menu{
    border-radius:10px
}
.fixed-plugin .dropdown .dropdown-menu li.adjustments-line{
    border-bottom:1px solid #ddd
}
.fixed-plugin .dropdown .dropdown-menu li{
    padding:5px 2px!important
}
.fixed-plugin .dropdown .dropdown-menu .button-container a{
    font-size:14px
}
.fixed-plugin .dropdown .dropdown-menu .button-container.show{
    -webkit-transform:translateZ(0)!important;
    transform:translateZ(0)!important;
    transform-origin:0 0;
    left:-303px!important
}
.fixed-plugin .dropdown .dropdown-menu{
    -webkit-transform:translate3d(0,-5%,0)!important;
    transform:translate3d(0,-5%,0)!important;
    top:-40px!important;
    opacity:0;
    left:-303px!important;
    transform-origin:0 0
}
.fixed-plugin .dropdown.show .dropdown-menu{
    opacity:1;
    -webkit-transform:translateZ(0)!important;
    transform:translateZ(0)!important;
    transform-origin:0 0;
    left:-303px!important
}
.fixed-plugin .dropdown-menu:after,.fixed-plugin .dropdown-menu:before{
    content:"";
    display:inline-block;
    position:absolute;
    top:65px;
    width:16px;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%)
}
.fixed-plugin .dropdown-menu:before{
    border-bottom:16px solid transparent;
    border-left:16px solid rgba(0,0,0,.2);
    border-top:16px solid transparent;
    right:-16px
}
.fixed-plugin .dropdown-menu:after{
    border-bottom:16px solid transparent;
    border-left:16px solid #fff;
    border-top:16px solid transparent;
    right:-15px
}
.btn{
    border-width:2px;
    background-color:transparent;
    font-weight:400;
    opacity:.8;
    filter:alpha(opacity=80);
    padding:8px 16px;
    border-color:#888;
    color:#888
}
.btn.active,.btn:active,.btn:focus,.btn:hover,.open>.btn.dropdown-toggle{
    background-color:transparent;
    color:#777;
    border-color:#777
}
.btn.disabled,.btn.disabled.active,.btn.disabled.focus,.btn.disabled:active,.btn.disabled:focus,.btn.disabled:hover,.btn:disabled,.btn:disabled.active,.btn:disabled.focus,.btn:disabled:active,.btn:disabled:focus,.btn:disabled:hover,.btn[disabled],.btn[disabled].active,.btn[disabled].focus,.btn[disabled]:active,.btn[disabled]:focus,.btn[disabled]:hover,fieldset[disabled] .btn,fieldset[disabled] .btn.active,fieldset[disabled] .btn.focus,fieldset[disabled] .btn:active,fieldset[disabled] .btn:focus,fieldset[disabled] .btn:hover{
    background-color:transparent;
    border-color:#888
}
.btn.btn-fill{
    color:#fff;
    background-color:#888;
    opacity:1;
    filter:alpha(opacity=100)
}
.btn.btn-fill.active,.btn.btn-fill:active,.btn.btn-fill:focus,.btn.btn-fill:hover,.open>.btn.btn-fill.dropdown-toggle{
    background-color:#777;
    color:#fff
}
.btn.btn-fill .caret{
    border-top-color:#fff
}
.btn .caret{
    border-top-color:#888
}
.btn:focus,.btn:hover{
    opacity:1;
    filter:alpha(opacity=100)
}
.btn.active,.btn:active,.btn:focus,.btn:hover,.open>.btn.dropdown-toggle{
    outline:0!important;
    box-shadow:none
}
.btn.btn-icon{
    padding:8px
}
.btn-primary{
    border-color:#3472f7;
    color:#3472f7
}
.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.btn-primary.dropdown-toggle{
    background-color:transparent;
    color:#1d62f0;
    border-color:#1d62f0
}
.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary:disabled,.btn-primary:disabled.active,.btn-primary:disabled.focus,.btn-primary:disabled:active,.btn-primary:disabled:focus,.btn-primary:disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{
    background-color:transparent;
    border-color:#3472f7
}
.btn-primary.btn-fill{
    color:#fff;
    background-color:#3472f7;
    opacity:1;
    filter:alpha(opacity=100)
}
.btn-primary.btn-fill.active,.btn-primary.btn-fill:active,.btn-primary.btn-fill:focus,.btn-primary.btn-fill:hover,.open>.btn-primary.btn-fill.dropdown-toggle{
    background-color:#1d62f0;
    color:#fff
}
.btn-primary.btn-fill .caret{
    border-top-color:#fff
}
.btn-primary .caret{
    border-top-color:#3472f7
}
.btn-success{
    border-color:#87cb16;
    color:#87cb16
}
.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open>.btn-success.dropdown-toggle{
    background-color:transparent;
    color:#049f0c;
    border-color:#049f0c
}
.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled.focus,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success:disabled,.btn-success:disabled.active,.btn-success:disabled.focus,.btn-success:disabled:active,.btn-success:disabled:focus,.btn-success:disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled].focus,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{
    background-color:transparent;
    border-color:#87cb16
}
.btn-success.btn-fill{
    color:#fff;
    background-color:#87cb16;
    opacity:1;
    filter:alpha(opacity=100)
}
.btn-success.btn-fill.active,.btn-success.btn-fill:active,.btn-success.btn-fill:focus,.btn-success.btn-fill:hover,.open>.btn-success.btn-fill.dropdown-toggle{
    background-color:#049f0c;
    color:#fff
}
.btn-success.btn-fill .caret{
    border-top-color:#fff
}
.btn-success .caret{
    border-top-color:#87cb16
}
.btn-info{
    border-color:#1dc7ea;
    color:#1dc7ea
}
.btn-info.active,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.btn-info.dropdown-toggle{
    background-color:transparent;
    color:#42d0ed;
    border-color:#42d0ed
}
.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled.focus,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info:disabled,.btn-info:disabled.active,.btn-info:disabled.focus,.btn-info:disabled:active,.btn-info:disabled:focus,.btn-info:disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled].focus,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{
    background-color:transparent;
    border-color:#1dc7ea
}
.btn-info.btn-fill{
    color:#fff;
    background-color:#1dc7ea;
    opacity:1;
    filter:alpha(opacity=100)
}
.btn-info.btn-fill.active,.btn-info.btn-fill:active,.btn-info.btn-fill:focus,.btn-info.btn-fill:hover,.open>.btn-info.btn-fill.dropdown-toggle{
    background-color:#42d0ed;
    color:#fff
}
.btn-info.btn-fill .caret{
    border-top-color:#fff
}
.btn-info .caret{
    border-top-color:#1dc7ea
}
.btn-warning{
    border-color:#ff9500;
    color:#ff9500
}
.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open>.btn-warning.dropdown-toggle{
    background-color:transparent;
    color:#ed8d00;
    border-color:#ed8d00
}
.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled.focus,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning:disabled,.btn-warning:disabled.active,.btn-warning:disabled.focus,.btn-warning:disabled:active,.btn-warning:disabled:focus,.btn-warning:disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled].focus,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{
    background-color:transparent;
    border-color:#ff9500
}
.btn-warning.btn-fill{
    color:#fff;
    background-color:#ff9500;
    opacity:1;
    filter:alpha(opacity=100)
}
.btn-warning.btn-fill.active,.btn-warning.btn-fill:active,.btn-warning.btn-fill:focus,.btn-warning.btn-fill:hover,.open>.btn-warning.btn-fill.dropdown-toggle{
    background-color:#ed8d00;
    color:#fff
}
.btn-warning.btn-fill .caret{
    border-top-color:#fff
}
.btn-warning .caret{
    border-top-color:#ff9500
}
.btn-danger{
    border-color:#ff4a55;
    color:#ff4a55
}
.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.btn-danger.dropdown-toggle{
    background-color:transparent;
    color:#ee2d20;
    border-color:#ee2d20
}
.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled.focus,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger:disabled,.btn-danger:disabled.active,.btn-danger:disabled.focus,.btn-danger:disabled:active,.btn-danger:disabled:focus,.btn-danger:disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled].focus,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{
    background-color:transparent;
    border-color:#ff4a55
}
.btn-danger.btn-fill{
    color:#fff;
    background-color:#ff4a55;
    opacity:1;
    filter:alpha(opacity=100)
}
.btn-danger.btn-fill.active,.btn-danger.btn-fill:active,.btn-danger.btn-fill:focus,.btn-danger.btn-fill:hover,.open>.btn-danger.btn-fill.dropdown-toggle{
    background-color:#ee2d20;
    color:#fff
}
.btn-danger.btn-fill .caret{
    border-top-color:#fff
}
.btn-danger .caret{
    border-top-color:#ff4a55
}
.btn-neutral{
    border-color:#fff;
    color:#fff
}
.btn-neutral.active,.btn-neutral:active,.btn-neutral:focus,.btn-neutral:hover,.open>.btn-neutral.dropdown-toggle{
    background-color:transparent;
    color:#fff;
    border-color:#fff
}
.btn-neutral.disabled,.btn-neutral.disabled.active,.btn-neutral.disabled.focus,.btn-neutral.disabled:active,.btn-neutral.disabled:focus,.btn-neutral.disabled:hover,.btn-neutral:disabled,.btn-neutral:disabled.active,.btn-neutral:disabled.focus,.btn-neutral:disabled:active,.btn-neutral:disabled:focus,.btn-neutral:disabled:hover,.btn-neutral[disabled],.btn-neutral[disabled].active,.btn-neutral[disabled].focus,.btn-neutral[disabled]:active,.btn-neutral[disabled]:focus,.btn-neutral[disabled]:hover,fieldset[disabled] .btn-neutral,fieldset[disabled] .btn-neutral.active,fieldset[disabled] .btn-neutral.focus,fieldset[disabled] .btn-neutral:active,fieldset[disabled] .btn-neutral:focus,fieldset[disabled] .btn-neutral:hover{
    background-color:transparent;
    border-color:#fff
}
.btn-neutral.btn-fill{
    opacity:1;
    filter:alpha(opacity=100)
}
.btn-neutral.btn-fill,.btn-neutral.btn-fill.active,.btn-neutral.btn-fill:active,.btn-neutral.btn-fill:focus,.btn-neutral.btn-fill:hover,.open>.btn-neutral.btn-fill.dropdown-toggle{
    color:#fff;
    background-color:#fff
}
.btn-neutral.btn-fill .caret,.btn-neutral .caret{
    border-top-color:#fff
}
.btn-neutral.active,.btn-neutral:active,.open>.btn-neutral.dropdown-toggle{
    background-color:#fff;
    color:#888
}
.btn-neutral.btn-fill,.btn-neutral.btn-fill:focus,.btn-neutral.btn-fill:hover{
    color:#888
}
.btn-neutral.btn-simple.active,.btn-neutral.btn-simple:active{
    background-color:transparent
}
.btn.disabled,.btn:disabled,.btn[disabled]{
    opacity:.5;
    filter:alpha(opacity=50)
}
.btn-round{
    border-width:1px;
    border-radius:30px!important;
    padding:9px 18px
}
.btn-round.btn-icon{
    padding:9px
}
.btn-simple{
    border:0;
    font-size:16px;
    padding:8px 16px
}
.btn-simple.btn-icon{
    padding:8px
}
.btn-lg{
    font-size:18px;
    border-radius:6px;
    padding:14px 30px;
    font-weight:400
}
.btn-lg.btn-round{
    padding:15px 30px
}
.btn-lg.btn-simple{
    padding:16px 30px
}
.btn-sm{
    font-size:12px;
    border-radius:3px;
    padding:5px 10px
}
.btn-sm.btn-round{
    padding:6px 10px
}
.btn-sm.btn-simple{
    padding:7px 10px
}
.btn-xs{
    font-size:12px;
    border-radius:3px;
    padding:1px 5px
}
.btn-xs.btn-round{
    padding:2px 5px
}
.btn-xs.btn-simple{
    padding:3px 5px
}
.btn-wd{
    min-width:140px
}
.btn-group.select{
    width:100%
}
.btn-group.select .btn{
    text-align:left
}
.btn-group.select .caret{
    position:absolute;
    top:50%;
    margin-top:-1px;
    right:8px
}
.btn-social{
    opacity:.85
}
.btn-twitter,.btn-twitter:hover{
    border-color:#55acee;
    color:#55acee
}
.btn-twitter:hover{
    opacity:1!important
}
.btn-facebook,.btn-facebook:hover{
    border-color:#3b5998;
    color:#3b5998
}
.btn-facebook:hover{
    opacity:1!important
}
.form-control:-moz-placeholder,.form-control::-moz-placeholder{
    color:#ddd;
    opacity:1;
    filter:alpha(opacity=100)
}
.form-control::-webkit-input-placeholder{
    color:#ddd;
    opacity:1;
    filter:alpha(opacity=100)
}
.form-control:-ms-input-placeholder{
    color:#ddd;
    opacity:1;
    filter:alpha(opacity=100)
}
.form-control{
    border:1px solid #e3e3e3;
    border-radius:4px;
    color:#565656;
    padding:8px 12px;
    height:40px
}
.form-control,.form-control:focus{
    background-color:#fff;
    box-shadow:none
}
.form-control:focus{
    border:1px solid #aaa;
    outline:0!important;
    color:#333
}
.has-error .form-control,.has-error .form-control:focus,.has-success .form-control,.has-success .form-control:focus{
    border-color:#e3e3e3;
    box-shadow:none
}
.has-success .form-control{
    color:#87cb16
}
.has-success .form-control:focus{
    border-color:#87cb16
}
.has-error .form-control{
    color:#ff4a55
}
.has-error .form-control:focus{
    border-color:#ff4a55
}
.form-control+.form-control-feedback{
    border-radius:6px;
    font-size:14px;
    margin-top:-7px;
    position:absolute;
    right:10px;
    top:50%;
    vertical-align:middle
}
.open .form-control{
    border-radius:4px 4px 0 0;
    border-bottom-color:transparent
}
.input-lg{
    height:55px;
    padding:14px 30px
}
.has-error .form-control-feedback{
    color:#ff4a55
}
.has-success .form-control-feedback{
    color:#87cb16
}
.input-group-addon{
    background-color:#fff;
    border:1px solid #e3e3e3;
    border-radius:4px
}
.has-error .input-group-addon,.has-success .input-group-addon{
    background-color:#fff;
    border:1px solid #e3e3e3
}
.has-error .form-control:focus+.input-group-addon{
    border-color:#ff4a55;
    color:#ff4a55
}
.has-success .form-control:focus+.input-group-addon{
    border-color:#87cb16;
    color:#87cb16
}
.form-control:focus+.input-group-addon,.form-control:focus~.input-group-addon{
    background-color:#fff;
    border-color:#9a9a9a
}
.input-group-addon:first-child,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group .form-control:first-child{
    border-right:0 none
}
.input-group-addon:last-child,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.dropdown-toggle,.input-group .form-control:last-child{
    border-left:0 none
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{
    background-color:#f5f5f5;
    color:#888;
    cursor:not-allowed
}
.input-group-btn .btn{
    border-width:1px;
    padding:9px 16px
}
.input-group-btn .btn-default:not(.btn-fill){
    border-color:#ddd
}
.input-group-btn:last-child>.btn{
    margin-left:0
}
.input-group-focus .input-group-addon{
    border-color:#9a9a9a
}
.alert{
    border:0;
    border-radius:0;
    color:#fff;
    padding:10px 15px;
    font-size:14px
}
.container .alert{
    border-radius:4px
}
.navbar .alert{
    border-radius:0;
    left:0;
    position:absolute;
    right:0;
    top:85px;
    width:100%;
    z-index:3
}
.navbar:not(.navbar-transparent) .alert{
    top:70px
}
.alert span[data-notify=icon]{
    font-size:30px;
    display:block;
    left:15px;
    position:absolute;
    top:50%;
    margin-top:-15px
}
.alert i.nc-simple-remove{
    font-size:12px!important;
    font:700 normal normal 14px/1 nucleo-icons
}
.alert button.close{
    position:absolute;
    right:10px;
    top:50%;
    margin-top:-13px;
    z-index:1;
    background-color:#fff;
    display:block;
    border-radius:50%;
    opacity:.4;
    line-height:9px;
    width:25px;
    height:25px;
    outline:0!important;
    text-align:center;
    padding:3px;
    font-weight:300
}
.alert button.close:hover{
    opacity:.55
}
.alert .close~span{
    display:block;
    max-width:89%
}
.alert[data-notify=container]{
    padding:10px 10px 10px 20px;
    border-radius:4px
}
.alert.alert-with-icon{
    padding-left:65px
}
.alert-primary{
    background-color:#47627f
}
.alert-info{
    background-color:#63d8f1
}
.alert-success{
    background-color:#a1e82c
}
.alert-warning{
    background-color:#ffbc67
}
.alert-danger{
    background-color:#fc727a
}
.table .checkbox,.table .radio{
    position:relative;
    height:20px;
    display:block;
    width:20px;
    padding:0;
    margin:0 5px;
    text-align:center
}
.table .checkbox .icons,.table .radio .icons{
    left:5px
}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{
    padding:12px 8px;
    vertical-align:middle
}
.table>thead>tr>th{
    border-bottom-width:1px;
    font-size:12px;
    text-transform:uppercase;
    color:#9a9a9a;
    font-weight:400;
    padding-bottom:5px;
    border-top:none!important;
    border-bottom:none;
    text-align:left!important
}
.table .td-actions .btn{
    opacity:.36;
    filter:alpha(opacity=36)
}
.table .td-actions .btn.btn-xs{
    padding-left:3px;
    padding-right:3px
}
.table .td-actions{
    min-width:90px
}
.table>tbody>tr{
    position:relative
}
.table>tbody>tr:hover .td-actions .btn{
    opacity:1;
    filter:alpha(opacity=100)
}
.table .btn:focus{
    box-shadow:none!important
}
.table-upgrade .table tr td{
    width:100%
}
.modal.show .modal-dialog{
    -webkit-transform:translateY(30%);
    transform:translateY(30%)
}
.modal.modal-mini .modal-dialog{
    max-width:255px;
    margin:0 auto
}
.modal .modal-content .modal-header{
    border-bottom:none;
    padding:24px 24px 0
}
.modal .modal-content .modal-header .modal-profile{
    width:80px;
    height:80px;
    border-radius:50%;
    text-align:center;
    line-height:5.7;
    box-shadow:0 5px 20px 0 rgba(0,0,0,.3)
}
.modal .modal-content .modal-header .modal-profile i{
    font-size:32px;
    padding-top:24px
}
.modal .modal-content .modal-body{
    padding:24px 24px 16px;
    line-height:1.9
}
.modal .modal-content .modal-body+.modal-footer{
    padding-top:0
}
.modal .modal-content .modal-footer{
    border-top:none;
    padding-right:24px;
    padding-bottom:16px;
    padding-left:24px;
    justify-content:space-between
}
.modal .modal-content .modal-footer .btn{
    margin:0;
    padding-left:16px;
    padding-right:16px;
    width:auto
}
.modal .modal-content .modal-footer .btn:hover,.modal .modal-content .modal-footer .btnfocus{
    text-decoration:none
}
.form-check-radio,.from-check{
    margin-bottom:12px;
    position:relative
}
.form-check .form-check-label{
    display:inline-block;
    position:relative;
    cursor:pointer;
    padding-left:35px;
    line-height:26px;
    margin-bottom:0
}
.form-check .form-check-sign:after,.form-check .form-check-sign:before{
    font-family:FontAwesome;
    content:"\F096";
    display:inline-block;
    color:#1dc7ea;
    position:absolute;
    width:19px;
    height:19px;
    margin-top:-12px;
    margin-left:-23px;
    font-size:21px;
    cursor:pointer;
    transition:opacity .3s linear
}
.form-check .form-check-sign:after{
    font-family:FontAwesome;
    content:"\F046";
    text-align:center;
    opacity:0;
    color:#1dc7ea;
    border:0;
    background-color:inherit
}
.form-check.disabled .form-check-label{
    color:#9a9a9a;
    opacity:.5;
    cursor:not-allowed
}
.form-check-radio input[type=radio],.form-check input[type=checkbox]{
    opacity:0;
    position:absolute;
    visibility:hidden
}
.form-check input[type=checkbox]:checked+.form-check-sign:after{
    opacity:1
}
.checkbox input[type=checkbox]:disabled+.form-check-sign:after,.form-control input[type=checkbox]:disabled+.form-check-sign:before{
    cursor:not-allowed
}
.form-check-radio input[type=radio]:disabled+.form-check-sign,.form-check .form-check-label input[type=checkbox]:disabled+.form-check-sign{
    pointer-events:none!important
}
.form-check-radio .form-check-label{
    padding-left:2rem
}
.form-check-radio.disabled .form-check-label{
    color:#9a9a9a;
    opacity:.5;
    cursor:not-allowed
}
.form-check-radio .form-check-sign:before{
    font-family:FontAwesome;
    content:"\F10C";
    font-size:22px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    display:inline-block;
    position:absolute;
    opacity:.5;
    left:5px;
    top:-5px
}
.form-check-radio input[type=radio],.form-check-radio input[type=radio]+.form-check-sign:after{
    opacity:0;
    transition:opacity .3s linear;
    content:" ";
    display:block
}
.form-check-radio input[type=radio]:checked+.form-check-sign:after{
    font-family:FontAwesome;
    content:"\F192";
    top:-5px;
    position:absolute;
    left:5px;
    font-size:22px;
    opacity:1
}
.form-check-radio input[type=radio]:disabled+.form-check-sign:after,.form-check-radio input[type=radio]:disabled+.form-check-sign:before{
    color:#9a9a9a
}
.nav .nav-item .nav-link:focus,.nav .nav-item .nav-link:hover{
    background-color:transparent
}
.navbar{
    border:0;
    font-size:16px;
    border-radius:0;
    min-height:50px;
    background-color:hsla(0,0%,100%,.96);
    border-bottom:1px solid rgba(0,0,0,.1);
    padding:5px 15px
}
.navbar .navbar-brand{
    font-weight:400;
    margin:5px 0;
    font-size:20px;
    color:#888
}
.navbar .navbar-brand:hover{
    color:#5e5e5e
}
.navbar .navbar-toggler{
    width:37px;
    height:27px;
    vertical-align:middle;
    outline:0;
    cursor:pointer
}
.navbar .navbar-toggler.navbar-toggler-left{
    position:relative;
    left:0;
    padding-left:0
}
.navbar .navbar-toggler .navbar-toggler-bar{
    width:3px;
    height:3px;
    border-radius:50%;
    margin:0 auto
}
.navbar .navbar-toggler .burger-lines{
    display:block;
    position:relative;
    background-color:#888;
    width:24px;
    height:2px;
    border-radius:1px;
    margin:4px auto
}
.navbar .dropdown.nav-item .dropdown-toggle:after{
    margin-top:8px
}
.navbar .navbar-nav{
    align-items:center
}
.navbar .navbar-nav .nav-item .nav-link{
    color:#888;
    padding:10px 15px;
    position:relative;
    display:inline-flex;
    line-height:1.2
}
.navbar .navbar-nav .nav-item .nav-link.btn{
    margin:15px 3px;
    padding:8px 16px
}
.navbar .navbar-nav .nav-item .nav-link.btn-round{
    margin:16px 3px
}
.navbar .navbar-nav .nav-item .nav-link [class^=fa]{
    font-size:19px;
    position:relative;
    line-height:40px;
    top:1px
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color:#1dc7ea
}
.navbar .navbar-nav .nav-item .dropdown-menu{
    border-radius:10px;
    margin-top:-5px
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:first-child{
    border-top-left-radius:10px;
    border-top-right-radius:10px
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:last-child{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px
}
.navbar .navbar-nav .nav-item .dropdown-menu .divider{
    height:1px;
    margin:5px 0;
    overflow:hidden;
    background-color:#e5e5e5
}
.navbar .navbar-nav .notification{
    position:absolute;
    background-color:#fb404b;
    text-align:center;
    border-radius:10px;
    min-width:18px;
    padding:0 5px;
    height:18px;
    font-size:12px;
    color:#fff;
    font-weight:700;
    line-height:18px;
    top:0;
    left:7px
}
.navbar .navbar-nav .dropdown-toggle:after{
    display:inline-block;
    width:0;
    height:0;
    margin-left:5px;
    margin-top:12px;
    vertical-align:middle;
    border-top:4px dashed;
    border-top:4px solid\9;
    border-right:4px solid transparent;
    border-left:4px solid transparent
}
.navbar .btn{
    margin:15px 3px;
    font-size:14px
}
.navbar .btn-simple{
    font-size:16px
}
.navbar.fixed{
    width:calc(1 - $sidebar-width);
    right:0;
    left:auto;
    border-radius:0
}
.navbar .nc-icon{
    font-weight:700
}
.navbar-transparent .navbar-brand,[class*=navbar-ct] .navbar-brand{
    color:#fff;
    opacity:.9;
    filter:alpha(opacity=90)
}
.navbar-transparent .navbar-brand:focus,.navbar-transparent .navbar-brand:hover,[class*=navbar-ct] .navbar-brand:focus,[class*=navbar-ct] .navbar-brand:hover{
    background-color:transparent;
    opacity:1;
    filter:alpha(opacity=100);
    color:#fff
}
.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn),[class*=navbar-ct] .navbar-nav .nav-item .nav-link:not(.btn){
    color:#fff;
    border-color:#fff;
    opacity:.8;
    filter:alpha(opacity=80)
}
.navbar-transparent .navbar-nav .active .nav-link:focus:not(.btn),.navbar-transparent .navbar-nav .active .nav-link:hover:not(.btn),.navbar-transparent .navbar-nav .active .nav-link:not(.btn),.navbar-transparent .navbar-nav .nav-item .nav-link:focus:not(.btn),.navbar-transparent .navbar-nav .nav-item .nav-link:hover:not(.btn),.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn),[class*=navbar-ct] .navbar-nav .active .nav-link:focus:not(.btn),[class*=navbar-ct] .navbar-nav .active .nav-link:hover:not(.btn),[class*=navbar-ct] .navbar-nav .active .nav-link:not(.btn),[class*=navbar-ct] .navbar-nav .nav-item .nav-link:focus:not(.btn),[class*=navbar-ct] .navbar-nav .nav-item .nav-link:hover:not(.btn),[class*=navbar-ct] .navbar-nav .nav-item .nav-link:not(.btn){
    background-color:transparent;
    border-radius:3px;
    color:#fff;
    opacity:1;
    filter:alpha(opacity=100)
}
.navbar-transparent .navbar-nav .nav .nav-item .nav-link.btn:hover,[class*=navbar-ct] .navbar-nav .nav .nav-item .nav-link.btn:hover{
    background-color:transparent
}
.navbar-transparent .navbar-nav .show .nav-link,.navbar-transparent .navbar-nav .show .nav-link:focus,.navbar-transparent .navbar-nav .show .nav-link:hover,[class*=navbar-ct] .navbar-nav .show .nav-link,[class*=navbar-ct] .navbar-nav .show .nav-link:focus,[class*=navbar-ct] .navbar-nav .show .nav-link:hover{
    background-color:transparent;
    color:#fff;
    opacity:1;
    filter:alpha(opacity=100)
}
.navbar-transparent .btn-default,[class*=navbar-ct] .btn-default{
    color:#fff;
    border-color:#fff
}
.navbar-transparent .btn-default.btn-fill,[class*=navbar-ct] .btn-default.btn-fill{
    color:#9a9a9a;
    background-color:#fff;
    opacity:.9;
    filter:alpha(opacity=90)
}
.navbar-transparent .btn-default.btn-fill.active,.navbar-transparent .btn-default.btn-fill:active,.navbar-transparent .btn-default.btn-fill:focus,.navbar-transparent .btn-default.btn-fill:hover,.navbar-transparent .show .dropdown-toggle.btn-fill.btn-default,[class*=navbar-ct] .btn-default.btn-fill.active,[class*=navbar-ct] .btn-default.btn-fill:active,[class*=navbar-ct] .btn-default.btn-fill:focus,[class*=navbar-ct] .btn-default.btn-fill:hover,[class*=navbar-ct] .show .dropdown-toggle.btn-fill.btn-default{
    border-color:#fff;
    opacity:1;
    filter:alpha(opacity=100)
}
.navbar-transparent .dropdown-menu .divider{
    background-color:hsla(0,0%,100%,.2)
}
.navbar-default{
    background-color:hsla(0,0%,100%,.96);
    border-bottom:1px solid rgba(0,0,0,.1)
}
.navbar-default .navbar-nav .nav-item .nav-link:not(.btn){
    color:#9a9a9a
}
.navbar-default .navbar-nav .active .nav-link,.navbar-default .navbar-nav .active .nav-link:not(.btn):focus,.navbar-default .navbar-nav .active .nav-link:not(.btn):hover,.navbar-default .navbar-nav .nav-item .nav-link:not(.btn):focus,.navbar-default .navbar-nav .nav-item .nav-link:not(.btn):hover{
    background-color:transparent;
    border-radius:3px;
    color:#1dc7ea;
    opacity:1;
    filter:alpha(opacity=100)
}
.navbar-default .navbar-nav .show .nav-link,.navbar-default .navbar-nav .show .nav-link:focus,.navbar-default .navbar-nav .show .nav-link:hover{
    background-color:transparent;
    color:#1dc7ea
}
.navbar-default .navbar-nav .navbar-toggle:focus,.navbar-default .navbar-nav .navbar-toggle:hover{
    background-color:transparent
}
.navbar-default:not(.navbar-transparent) .btn-default:hover{
    color:#1dc7ea;
    border-color:#1dc7ea
}
.navbar-default:not(.navbar-transparent) .btn-neutral,.navbar-default:not(.navbar-transparent) .btn-neutral:active,.navbar-default:not(.navbar-transparent) .btn-neutral:hover{
    color:#9a9a9a
}
.navbar-icons.navbar .navbar-brand{
    margin-top:12px;
    margin-bottom:12px
}
.navbar-icons .navbar-nav .nav-item .nav-link{
    text-align:center;
    padding:6px 15px;
    margin:6px 3px
}
.navbar-icons .navbar-nav [class^=pe]{
    font-size:30px;
    position:relative
}
.navbar-icons .navbar-nav p{
    margin:3px 0 0
}
.navbar-form{
    box-shadow:none
}
.navbar-form .form-control{
    border-radius:0;
    border:0;
    padding:0;
    background-color:transparent;
    height:22px;
    font-size:16px;
    line-height:1.5;
    color:#e3e3e3
}
.navbar-transparent .navbar-form .form-control,[class*=navbar-ct] .navbar-form .form-control{
    color:#fff;
    border:0;
    border-bottom:1px solid hsla(0,0%,100%,.6)
}
.navbar-ct-blue{
    background-color:#47627f
}
.navbar-ct-azure{
    background-color:#63d8f1
}
.navbar-ct-green{
    background-color:#a1e82c
}
.navbar-ct-orange{
    background-color:#ffbc67
}
.navbar-ct-red{
    background-color:#fc727a
}
.navbar-transparent{
    padding-top:15px;
    background-color:transparent;
    border-bottom:1px solid transparent
}
.navbar-toggle{
    margin-top:19px;
    margin-bottom:19px;
    border:0
}
.navbar-toggle .icon-bar{
    background-color:#fff
}
.navbar-toggle .navbar-collapse,.navbar-toggle .navbar-form{
    border-color:transparent
}
.navbar-toggle.navbar-default .navbar-toggle:focus,.navbar-toggle.navbar-default .navbar-toggle:hover{
    background-color:transparent
}
.footer{
    background-color:#fff
}
.footer .footer-menu{
    height:41px
}
.footer nav>ul{
    list-style:none;
    margin:0;
    padding:0;
    font-weight:400
}
.footer nav>ul a:not(.btn){
    color:#9a9a9a;
    display:block;
    margin-bottom:3px
}
.footer nav>ul a:not(.btn):focus,.footer nav>ul a:not(.btn):hover{
    color:#777
}
.footer .social-area{
    padding:15px 0
}
.footer .social-area h5{
    padding-bottom:15px
}
.footer .social-area>a:not(.btn){
    color:#9a9a9a;
    display:inline-block;
    vertical-align:top;
    padding:10px 5px;
    font-size:20px;
    font-weight:400;
    line-height:20px;
    text-align:center
}
.footer .social-area>a:not(.btn):focus,.footer .social-area>a:not(.btn):hover{
    color:#777
}
.footer .copyright{
    color:#777;
    padding:10px 15px;
    margin:10px 3px;
    line-height:20px;
    font-size:14px
}
.footer hr{
    border-color:#ddd
}
.footer .title{
    color:#777
}
.footer-default{
    background-color:#f5f5f5
}
.footer:not(.footer-big) nav>ul{
    font-size:14px
}
.footer:not(.footer-big) nav>ul li{
    margin-left:20px;
    float:left
}
.footer:not(.footer-big) nav>ul a{
    padding:10px 0;
    margin:10px 10px 10px 0
}
/*! Animate.css - http://daneden.me/animate Licensed under the MIT license - http://opensource.org/licenses/MIT Copyright (c) 2015 Daniel Eden */
.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.animated.infinite{
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite
}
.animated.hinge{
    -webkit-animation-duration:2s;
    animation-duration:2s
}
.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{
    -webkit-animation-duration:.75s;
    animation-duration:.75s
}
@-webkit-keyframes shake{
    0%,to{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    20%,40%,60%,80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
@keyframes shake{
    0%,to{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    10%,30%,50%,70%,90%{
        -webkit-transform:translate3d(-10px,0,0);
        transform:translate3d(-10px,0,0)
    }
    20%,40%,60%,80%{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)
    }
}
.shake{
    -webkit-animation-name:shake;
    animation-name:shake
}
@-webkit-keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
.fadeInDown{
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown
}
@-webkit-keyframes fadeOut{
    0%{
        opacity:1
    }
    to{
        opacity:0
    }
}
@keyframes fadeOut{
    0%{
        opacity:1
    }
    to{
        opacity:0
    }
}
.fadeOut{
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}
@-webkit-keyframes fadeOutDown{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }
}
@keyframes fadeOutDown{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,100%,0);
        transform:translate3d(0,100%,0)
    }
}
.fadeOutDown{
    -webkit-animation-name:fadeOutDown;
    animation-name:fadeOutDown
}
@-webkit-keyframes fadeOutUp{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
}
@keyframes fadeOutUp{
    0%{
        opacity:1
    }
    to{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
}
.fadeOutUp{
    -webkit-animation-name:fadeOutUp;
    animation-name:fadeOutUp
}
.dropdown-menu{
    visibility:hidden;
    margin:0;
    padding:0;
    border-radius:10px;
    display:block;
    z-index:9000;
    position:absolute;
    opacity:0;
    filter:alpha(opacity=0);
    box-shadow:1px 2px 3px rgba(0,0,0,.125)
}
.show .dropdown-menu{
    opacity:1;
    filter:alpha(opacity=100);
    visibility:visible
}
.select .dropdown-menu{
    border-radius:0 0 10px 10px;
    box-shadow:none;
    -webkit-transform-origin:50% -40px;
    transform-origin:50% -40px;
    -webkit-transform:scale(1);
    transform:scale(1);
    transition:all .15s linear;
    margin-top:-20px
}
.select.show .dropdown-menu{
    margin-top:-1px
}
.dropdown-menu .dropdown-item{
    padding:8px 16px;
    color:#333
}
.dropdown-menu .dropdown-item img{
    margin-top:-3px
}
.dropdown-menu .dropdown-item:focus{
    outline:0!important
}
.btn-group.select .dropdown-menu{
    min-width:100%
}
.dropdown-menu>li:first-child>a{
    border-top-left-radius:10px;
    border-top-right-radius:10px
}
.dropdown-menu>li:last-child>a{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px
}
.select .dropdown-menu>li:first-child>a{
    border-radius:0;
    border-bottom:0 none
}
.dropdown-menu .dropdown-item:focus,.dropdown-menu .dropdown-item:hover{
    background-color:#f5f5f5;
    color:#333;
    opacity:1;
    text-decoration:none
}
.dropdown-menu.dropdown-blue>li>a:focus,.dropdown-menu.dropdown-blue>li>a:hover{
    background-color:rgba(52,114,247,.2)
}
.dropdown-menu.dropdown-azure>li>a:focus,.dropdown-menu.dropdown-azure>li>a:hover{
    background-color:rgba(29,199,234,.2)
}
.dropdown-menu.ct-green>li>a:focus,.dropdown-menu.ct-green>li>a:hover{
    background-color:rgba(135,203,22,.2)
}
.dropdown-menu.dropdown-orange>li>a:focus,.dropdown-menu.dropdown-orange>li>a:hover{
    background-color:rgba(255,149,0,.2)
}
.dropdown-menu.dropdown-red>li>a:focus,.dropdown-menu.dropdown-red>li>a:hover{
    background-color:rgba(255,74,85,.2)
}
.dropdown-menu .dropdown-item i[class*=nc-icon]{
    font-size:18px;
    text-align:center;
    line-height:25px;
    float:left;
    padding-right:10px
}
.dropdown-menu.dropdown-menu-right:after,.dropdown-menu.dropdown-menu-right:before{
    right:12px!important;
    left:auto!important
}
.dropdown-with-icons>li>a{
    padding-left:0;
    line-height:28px
}
.dropdown-with-icons i{
    text-align:center;
    line-height:28px;
    float:left
}
.dropdown-with-icons i[class^=pe-]{
    font-size:24px;
    width:46px
}
.dropdown-with-icons i[class^=fa]{
    font-size:14px;
    width:38px
}
.btn-group.select{
    overflow:hidden
}
.btn-group.select.show{
    overflow:visible
}
.card{
    border-radius:4px;
    background-color:#fff;
    margin-bottom:30px
}
.card .card-image{
    width:100%;
    overflow:hidden;
    height:260px;
    border-radius:4px 4px 0 0;
    position:relative;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d
}
.card .card-image img{
    width:100%
}
.card .filter{
    position:absolute;
    z-index:2;
    background-color:rgba(0,0,0,.68);
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    opacity:0;
    filter:alpha(opacity=0)
}
.card .filter .btn{
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.card:hover .filter{
    opacity:1;
    filter:alpha(opacity=100)
}
.card .btn-hover{
    opacity:0;
    filter:alpha(opacity=0)
}
.card:hover .btn-hover{
    opacity:1;
    filter:alpha(opacity=100)
}
.card .card-body{
    padding:15px 15px 10px
}
.card .card-header{
    padding:15px 15px 0;
    background-color:#fff;
    border-bottom:none!important
}
.card .card-category,.card label{
    font-size:14px;
    font-weight:400;
    color:#9a9a9a;
    margin-bottom:0
}
.card .card-category i,.card label i{
    font-size:16px
}
.card label{
    font-size:12px;
    margin-bottom:5px;
    text-transform:uppercase
}
.card .card-title{
    margin:0;
    color:#333;
    font-weight:300
}
.card .avatar{
    width:30px;
    height:30px;
    overflow:hidden;
    border-radius:50%;
    margin-right:5px
}
.card .description{
    font-size:14px;
    color:#333
}
.card .card-footer{
    padding-top:0;
    background-color:transparent;
    line-height:30px;
    border-top:none!important;
    font-size:14px
}
.card .card-footer .legend{
    padding:5px 0
}
.card .card-footer hr{
    margin-top:5px;
    margin-bottom:5px
}
.card .stats{
    color:#a9a9a9
}
.card .card-footer div{
    display:inline-block
}
.card .author{
    font-size:12px;
    font-weight:600;
    text-transform:uppercase
}
.card .author i{
    font-size:14px
}
.card h6{
    font-size:12px;
    margin:0
}
.card.card-separator:after{
    height:100%;
    right:-15px;
    top:0;
    width:1px;
    background-color:#ddd;
    card-body:"";
    position:absolute
}
.card .ct-chart{
    margin:30px 0;
    height:245px
}
.card .ct-label{
    font-size:1rem!important
}
.card .table tbody td:first-child,.card .table thead th:first-child{
    padding-left:15px
}
.card .table tbody td:last-child,.card .table thead th:last-child{
    padding-right:15px
}
.card .alert{
    border-radius:4px;
    position:relative
}
.card .alert.alert-with-icon{
    padding-left:65px
}
.card-stats .card-body{
    padding:15px 15px 0
}
.card-stats .card-body .numbers{
    font-size:1.8rem;
    text-align:right
}
.card-stats .card-body .numbers p{
    margin-bottom:0
}
.card-stats .card-footer{
    padding:0 15px 10px
}
.card-stats .icon-big{
    font-size:3em;
    min-height:64px
}
.card-stats .icon-big i{
    line-height:59px
}
.card-user .card-image{
    height:110px
}
.card-user .card-image-plain{
    height:0;
    margin-top:110px
}
.card-user .author{
    text-align:center;
    text-transform:none;
    margin-top:-70px
}
.card-user .avatar{
    width:124px;
    height:124px;
    border:5px solid #fff;
    position:relative;
    margin-bottom:15px
}
.card-user .avatar.border-gray{
    border-color:#eee
}
.card-user .title{
    line-height:24px
}
.card-user .card-body{
    min-height:240px
}
.card-price .card-footer,.card-user .card-footer{
    padding:5px 15px 10px
}
.card-price hr,.card-user hr{
    margin:5px 15px
}
.card-plain{
    background-color:transparent;
    box-shadow:none;
    border-radius:0
}
.card-plain .card-image{
    border-radius:4px
}
.card.card-plain{
    border:none!important
}
.card.card-plain .card-header{
    background-color:transparent!important
}
.ct-label{
    fill:rgba(0,0,0,.4);
    color:rgba(0,0,0,.4);
    font-size:1.3rem;
    line-height:1
}
.ct-chart-bar .ct-label,.ct-chart-line .ct-label{
    display:block;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.ct-label.ct-horizontal.ct-start{
    -webkit-box-align:flex-end;
    -ms-flex-align:flex-end;
    align-items:flex-end
}
.ct-label.ct-horizontal.ct-end,.ct-label.ct-horizontal.ct-start{
    -webkit-box-pack:flex-start;
    -ms-flex-pack:flex-start;
    justify-content:flex-start;
    text-align:left;
    text-anchor:start
}
.ct-label.ct-horizontal.ct-end{
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start
}
.ct-label.ct-vertical.ct-start{
    -webkit-box-align:flex-end;
    -ms-flex-align:flex-end;
    align-items:flex-end;
    -webkit-box-pack:flex-end;
    -ms-flex-pack:flex-end;
    justify-content:flex-end;
    text-align:right;
    text-anchor:end
}
.ct-label.ct-vertical.ct-end{
    -webkit-box-pack:flex-start;
    -ms-flex-pack:flex-start;
    justify-content:flex-start;
    text-align:left
}
.ct-chart-bar .ct-label.ct-horizontal.ct-start,.ct-label.ct-vertical.ct-end{
    -webkit-box-align:flex-end;
    -ms-flex-align:flex-end;
    align-items:flex-end;
    text-anchor:start
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end,.ct-chart-bar .ct-label.ct-horizontal.ct-start{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    text-align:center
}
.ct-chart-bar .ct-label.ct-horizontal.ct-end{
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start;
    text-anchor:start
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start{
    -webkit-box-align:flex-end;
    -ms-flex-align:flex-end;
    align-items:flex-end
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end,.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start{
    -webkit-box-pack:flex-start;
    -ms-flex-pack:flex-start;
    justify-content:flex-start;
    text-align:left;
    text-anchor:start
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end{
    -webkit-box-align:flex-start;
    -ms-flex-align:flex-start;
    align-items:flex-start
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:flex-end;
    -ms-flex-pack:flex-end;
    justify-content:flex-end;
    text-align:right;
    text-anchor:end
}
.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:flex-start;
    -ms-flex-pack:flex-start;
    justify-content:flex-start;
    text-align:left;
    text-anchor:end
}
.ct-grid{
    stroke:rgba(0,0,0,.2);
    stroke-width:1px;
    stroke-dasharray:2px
}
.ct-point{
    stroke-width:8px;
    stroke-linecap:round
}
.ct-line{
    fill:none;
    stroke-width:3px
}
.ct-area{
    stroke:none;
    fill-opacity:.8
}
.ct-bar{
    fill:none;
    stroke-width:10px
}
.ct-slice-donut{
    fill:none;
    stroke-width:60px
}
.ct-series-a .ct-bar,.ct-series-a .ct-line,.ct-series-a .ct-point,.ct-series-a .ct-slice-donut{
    stroke:#1dc7ea
}
.ct-series-a .ct-area,.ct-series-a .ct-slice-pie{
    fill:#1dc7ea
}
.ct-series-b .ct-bar,.ct-series-b .ct-line,.ct-series-b .ct-point,.ct-series-b .ct-slice-donut{
    stroke:#fb404b
}
.ct-series-b .ct-area,.ct-series-b .ct-slice-pie{
    fill:#fb404b
}
.ct-series-c .ct-bar,.ct-series-c .ct-line,.ct-series-c .ct-point,.ct-series-c .ct-slice-donut{
    stroke:#ffa534
}
.ct-series-c .ct-area,.ct-series-c .ct-slice-pie{
    fill:#ffa534
}
.ct-series-d .ct-bar,.ct-series-d .ct-line,.ct-series-d .ct-point,.ct-series-d .ct-slice-donut{
    stroke:#9368e9
}
.ct-series-d .ct-area,.ct-series-d .ct-slice-pie{
    fill:#9368e9
}
.ct-series-e .ct-bar,.ct-series-e .ct-line,.ct-series-e .ct-point,.ct-series-e .ct-slice-donut{
    stroke:#87cb16
}
.ct-series-e .ct-area,.ct-series-e .ct-slice-pie{
    fill:#87cb16
}
.ct-series-f .ct-bar,.ct-series-f .ct-line,.ct-series-f .ct-point,.ct-series-f .ct-slice-donut{
    stroke:#35495e
}
.ct-series-f .ct-area,.ct-series-f .ct-slice-pie{
    fill:#35495e
}
.ct-series-g .ct-bar,.ct-series-g .ct-line,.ct-series-g .ct-point,.ct-series-g .ct-slice-donut{
    stroke:#5e5e5e
}
.ct-series-g .ct-area,.ct-series-g .ct-slice-pie{
    fill:#5e5e5e
}
.ct-series-h .ct-bar,.ct-series-h .ct-line,.ct-series-h .ct-point,.ct-series-h .ct-slice-donut{
    stroke:#dd4b39
}
.ct-series-h .ct-area,.ct-series-h .ct-slice-pie{
    fill:#dd4b39
}
.ct-series-i .ct-bar,.ct-series-i .ct-line,.ct-series-i .ct-point,.ct-series-i .ct-slice-donut{
    stroke:#35465c
}
.ct-series-i .ct-area,.ct-series-i .ct-slice-pie{
    fill:#35465c
}
.ct-series-j .ct-bar,.ct-series-j .ct-line,.ct-series-j .ct-point,.ct-series-j .ct-slice-donut{
    stroke:#e52d27
}
.ct-series-j .ct-area,.ct-series-j .ct-slice-pie{
    fill:#e52d27
}
.ct-series-k .ct-bar,.ct-series-k .ct-line,.ct-series-k .ct-point,.ct-series-k .ct-slice-donut{
    stroke:#55acee
}
.ct-series-k .ct-area,.ct-series-k .ct-slice-pie{
    fill:#55acee
}
.ct-series-l .ct-bar,.ct-series-l .ct-line,.ct-series-l .ct-point,.ct-series-l .ct-slice-donut{
    stroke:#cc2127
}
.ct-series-l .ct-area,.ct-series-l .ct-slice-pie{
    fill:#cc2127
}
.ct-series-m .ct-bar,.ct-series-m .ct-line,.ct-series-m .ct-point,.ct-series-m .ct-slice-donut{
    stroke:#1769ff
}
.ct-series-m .ct-area,.ct-series-m .ct-slice-pie{
    fill:#1769ff
}
.ct-series-n .ct-bar,.ct-series-n .ct-line,.ct-series-n .ct-point,.ct-series-n .ct-slice-donut{
    stroke:#6188e2
}
.ct-series-n .ct-area,.ct-series-n .ct-slice-pie{
    fill:#6188e2
}
.ct-series-o .ct-bar,.ct-series-o .ct-line,.ct-series-o .ct-point,.ct-series-o .ct-slice-donut{
    stroke:#a748ca
}
.ct-series-o .ct-area,.ct-series-o .ct-slice-pie{
    fill:#a748ca
}
.ct-square{
    display:block;
    position:relative;
    width:100%
}
.ct-square:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:100%
}
.ct-square:after{
    content:"";
    display:table;
    clear:both
}
.ct-square>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-minor-second{
    display:block;
    position:relative;
    width:100%
}
.ct-minor-second:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:93.75%
}
.ct-minor-second:after{
    content:"";
    display:table;
    clear:both
}
.ct-minor-second>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-major-second{
    display:block;
    position:relative;
    width:100%
}
.ct-major-second:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:88.88889%
}
.ct-major-second:after{
    content:"";
    display:table;
    clear:both
}
.ct-major-second>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-minor-third{
    display:block;
    position:relative;
    width:100%
}
.ct-minor-third:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:83.33333%
}
.ct-minor-third:after{
    content:"";
    display:table;
    clear:both
}
.ct-minor-third>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-major-third{
    display:block;
    position:relative;
    width:100%
}
.ct-major-third:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:80%
}
.ct-major-third:after{
    content:"";
    display:table;
    clear:both
}
.ct-major-third>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-perfect-fourth{
    display:block;
    position:relative;
    width:100%
}
.ct-perfect-fourth:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:75%
}
.ct-perfect-fourth:after{
    content:"";
    display:table;
    clear:both
}
.ct-perfect-fourth>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-perfect-fifth{
    display:block;
    position:relative;
    width:100%
}
.ct-perfect-fifth:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:66.66667%
}
.ct-perfect-fifth:after{
    content:"";
    display:table;
    clear:both
}
.ct-perfect-fifth>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-minor-sixth{
    display:block;
    position:relative;
    width:100%
}
.ct-minor-sixth:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:62.5%
}
.ct-minor-sixth:after{
    content:"";
    display:table;
    clear:both
}
.ct-minor-sixth>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-golden-section{
    display:block;
    position:relative;
    width:100%
}
.ct-golden-section:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:61.8047%
}
.ct-golden-section:after{
    content:"";
    display:table;
    clear:both
}
.ct-golden-section>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-major-sixth{
    display:block;
    position:relative;
    width:100%
}
.ct-major-sixth:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:60%
}
.ct-major-sixth:after{
    content:"";
    display:table;
    clear:both
}
.ct-major-sixth>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-minor-seventh{
    display:block;
    position:relative;
    width:100%
}
.ct-minor-seventh:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:56.25%
}
.ct-minor-seventh:after{
    content:"";
    display:table;
    clear:both
}
.ct-minor-seventh>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-major-seventh{
    display:block;
    position:relative;
    width:100%
}
.ct-major-seventh:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:53.33333%
}
.ct-major-seventh:after{
    content:"";
    display:table;
    clear:both
}
.ct-major-seventh>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-octave{
    display:block;
    position:relative;
    width:100%
}
.ct-octave:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:50%
}
.ct-octave:after{
    content:"";
    display:table;
    clear:both
}
.ct-octave>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-major-tenth{
    display:block;
    position:relative;
    width:100%
}
.ct-major-tenth:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:40%
}
.ct-major-tenth:after{
    content:"";
    display:table;
    clear:both
}
.ct-major-tenth>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-major-eleventh{
    display:block;
    position:relative;
    width:100%
}
.ct-major-eleventh:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:37.5%
}
.ct-major-eleventh:after{
    content:"";
    display:table;
    clear:both
}
.ct-major-eleventh>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-major-twelfth{
    display:block;
    position:relative;
    width:100%
}
.ct-major-twelfth:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:33.33333%
}
.ct-major-twelfth:after{
    content:"";
    display:table;
    clear:both
}
.ct-major-twelfth>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.ct-double-octave{
    display:block;
    position:relative;
    width:100%
}
.ct-double-octave:before{
    display:block;
    float:left;
    content:"";
    width:0;
    height:0;
    padding-bottom:25%
}
.ct-double-octave:after{
    content:"";
    display:table;
    clear:both
}
.ct-double-octave>svg{
    display:block;
    position:absolute;
    top:0;
    left:0
}
.tooltip{
    display:block!important;
    z-index:10000
}
.tooltip .tooltip-inner{
    background:#000;
    color:#fff;
    padding:3px 6px
}
.tooltip .tooltip-arrow{
    width:0;
    height:0;
    border-style:solid;
    position:absolute;
    margin:5px;
    border-color:#000
}
.tooltip[x-placement^=top]{
    margin-bottom:5px
}
.tooltip[x-placement^=top] .tooltip-arrow{
    border-width:5px 5px 0;
    border-left-color:transparent!important;
    border-right-color:transparent!important;
    border-bottom-color:transparent!important;
    bottom:-5px;
    left:calc(50% - 5px);
    margin-top:0;
    margin-bottom:0
}
.tooltip[x-placement^=bottom]{
    margin-top:5px
}
.tooltip[x-placement^=bottom] .tooltip-arrow{
    border-width:0 5px 5px;
    border-left-color:transparent!important;
    border-right-color:transparent!important;
    border-top-color:transparent!important;
    top:-5px;
    left:calc(50% - 5px);
    margin-top:0;
    margin-bottom:0
}
.tooltip[x-placement^=right]{
    margin-left:5px
}
.tooltip[x-placement^=right] .tooltip-arrow{
    border-width:5px 5px 5px 0;
    border-left-color:transparent!important;
    border-top-color:transparent!important;
    border-bottom-color:transparent!important;
    left:-5px;
    top:calc(50% - 5px);
    margin-left:0;
    margin-right:0
}
.tooltip[x-placement^=left]{
    margin-right:5px
}
.tooltip[x-placement^=left] .tooltip-arrow{
    border-width:5px 0 5px 5px;
    border-top-color:transparent!important;
    border-right-color:transparent!important;
    border-bottom-color:transparent!important;
    right:-5px;
    top:calc(50% - 5px);
    margin-left:0;
    margin-right:0
}
.tooltip[aria-hidden=true]{
    visibility:hidden;
    opacity:0;
    transition:opacity .15s,visibility .15s
}
.tooltip[aria-hidden=false]{
    visibility:visible;
    opacity:1;
    transition:opacity .15s
}
@media (min-width:992px){
    .navbar-form{
        margin-top:21px;
        margin-bottom:21px;
        padding-left:5px;
        padding-right:5px
    }
    .dropdown .dropdown-menu,.navbar-nav .nav-item .dropdown-menu{
        -webkit-transform:scale(0);
        transform:scale(0);
        transition:all .37s cubic-bezier(.34,1.61,.7,1)
    }
    .dropdown.show .dropdown-menu,.navbar-nav .nav-item.show .dropdown-menu{
        -webkit-transform:scale(1);
        transform:scale(1);
        -webkit-transform-origin:29px -50px;
        transform-origin:29px -50px
    }
    .close-layer,.nav-mobile-menu{
        display:none!important
    }
    .footer{
        height:60px
    }
    .footer .footer-menu{
        float:left
    }
    .footer .copyright{
        float:right
    }
    .navbar-nav .nav-item .dropdown-menu:before{
        border-bottom:11px solid rgba(0,0,0,.2);
        top:-11px
    }
    .navbar-nav .nav-item .dropdown-menu:after,.navbar-nav .nav-item .dropdown-menu:before{
        border-left:11px solid transparent;
        border-right:11px solid transparent;
        content:"";
        display:inline-block;
        position:absolute;
        left:12px
    }
    .navbar-nav .nav-item .dropdown-menu:after{
        border-bottom:11px solid #fff;
        top:-10px
    }
    .navbar-nav.navbar-right .nav-item .dropdown-menu:after,.navbar-nav.navbar-right .nav-item .dropdown-menu:before{
        left:auto;
        right:12px
    }
    .footer:not(.footer-big) nav>ul li:first-child{
        margin-left:0
    }
    .card form [class*=col-]{
        padding:6px
    }
    .card form [class*=col-]:first-child{
        padding-left:15px
    }
    .card form [class*=col-]:last-child{
        padding-right:15px
    }
}
@media (max-width:991px){
    .sidebar{
        right:0!important;
        left:auto;
        position:fixed;
        -webkit-transform:translate3d(262px,0,0);
        transform:translate3d(262px,0,0)!important
    }
    .nav-open .main-panel,.sidebar{
        transition:all .5s cubic-bezier(.685,.0473,.346,1)
    }
    .nav-open .main-panel{
        position:absolute;
        left:0;
        -webkit-transform:translate3d(-250px,0,0);
        transform:translate3d(-250px,0,0)!important
    }
    .nav-open .sidebar{
        -webkit-transform:translate3d(10px,0,0);
        transform:translate3d(10px,0,0)!important
    }
    .main-panel,.nav-open .sidebar{
        transition:all .5s cubic-bezier(.685,.0473,.346,1)
    }
    .main-panel{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)!important
    }
    .nav-item.active-pro{
        position:relative!important
    }
    .nav-mobile-menu{
        border-bottom:1px solid hsla(0,0%,100%,.2);
        margin-bottom:15px;
        padding-bottom:15px;
        padding-top:5px
    }
    .nav-mobile-menu .dropdown .dropdown-menu{
        position:static!important;
        float:none;
        width:auto;
        color:#fff;
        margin-top:0;
        background-color:transparent;
        border:0;
        box-shadow:none;
        transition:all .5s cubic-bezier(.685,.0473,.346,1)
    }
    .nav-mobile-menu .dropdown .dropdown-menu .dropdown-item{
        margin:5px 15px 0 20px;
        border-radius:4px;
        color:#fff;
        opacity:.86;
        padding:8px 50px
    }
    .nav-mobile-menu .dropdown .dropdown-menu .dropdown-item:hover{
        background-color:hsla(0,0%,100%,.23)
    }
    .nav-mobile-menu .nav-item .nav-link span{
        display:inline-block!important
    }
    .nav-mobile-menu .nav-item .nav-link .no-icon{
        padding-left:50px
    }
    .main-panel{
        width:100%
    }
    .navbar-transparent{
        padding-top:15px;
        background-color:rgba(0,0,0,.45)
    }
    body{
        position:relative
    }
    .wrapper{
        left:0;
        background-color:#fff
    }
    .navbar{
        padding-right:30px;
        padding-left:30px
    }
    .navbar-nav .nav-item{
        float:none;
        position:relative;
        display:block
    }
    body>.navbar-collapse{
        position:fixed;
        display:block;
        top:0;
        height:100%;
        right:0;
        left:auto;
        z-index:1032;
        visibility:visible;
        background-color:#999;
        overflow-y:visible;
        border-top:none;
        text-align:left;
        padding:0;
        -webkit-transform:translate3d(260px,0,0);
        transform:translate3d(260px,0,0);
        transition:all .33s cubic-bezier(.685,.0473,.346,1)
    }
    body>.navbar-collapse>ul{
        position:relative;
        z-index:4;
        overflow-y:scroll;
        height:calc(100vh - 61px);
        width:100%
    }
    body>.navbar-collapse:before{
        top:0;
        left:0;
        height:100%;
        width:100%;
        position:absolute;
        background-color:#282828;
        display:block;
        content:"";
        z-index:1
    }
    body>.navbar-collapse .logo{
        position:relative;
        z-index:4
    }
    body>.navbar-collapse .nav li>a{
        padding:10px 15px
    }
    .nav-show .navbar-collapse{
        -webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
    .nav-show .navbar .container{
        left:-250px
    }
    .nav-show .wrapper{
        left:0;
        -webkit-transform:translate3d(-260px,0,0);
        transform:translate3d(-260px,0,0)
    }
    .navbar-toggle .icon-bar{
        display:block;
        position:relative;
        background:#fff;
        width:24px;
        height:2px;
        border-radius:1px;
        margin:0 auto
    }
    .navbar-header .navbar-toggle{
        margin:10px 15px 10px 0;
        width:40px;
        height:40px
    }
    .bar1,.bar2,.bar3{
        outline:1px solid transparent
    }
    .bar1{
        top:0;
        -webkit-animation:topbar-back .5s linear 0s;
        animation:topbar-back .5s 0s;
        -webkit-animation-fill-mode:forwards;
        animation-fill-mode:forwards
    }
    .bar2{
        opacity:1
    }
    .bar3{
        bottom:0;
        -webkit-animation:bottombar-back .5s linear 0s;
        animation:bottombar-back .5s 0s;
        -webkit-animation-fill-mode:forwards;
        animation-fill-mode:forwards
    }
    .toggled .bar1{
        top:6px;
        -webkit-animation:topbar-x .5s linear 0s;
        animation:topbar-x .5s 0s;
        -webkit-animation-fill-mode:forwards;
        animation-fill-mode:forwards
    }
    .toggled .bar2{
        opacity:0
    }
    .toggled .bar3{
        bottom:6px;
        -webkit-animation:bottombar-x .5s linear 0s;
        animation:bottombar-x .5s 0s;
        -webkit-animation-fill-mode:forwards;
        animation-fill-mode:forwards
    }
    @keyframes topbar-x{
        0%{
            top:0;
            transform:rotate(0deg)
        }
        45%{
            top:6px;
            transform:rotate(145deg)
        }
        75%{
            transform:rotate(130deg)
        }
        to{
            transform:rotate(135deg)
        }
    }
    @-webkit-keyframes topbar-x{
        0%{
            top:0;
            -webkit-transform:rotate(0deg)
        }
        45%{
            top:6px;
            -webkit-transform:rotate(145deg)
        }
        75%{
            -webkit-transform:rotate(130deg)
        }
        to{
            -webkit-transform:rotate(135deg)
        }
    }
    @keyframes topbar-back{
        0%{
            top:6px;
            transform:rotate(135deg)
        }
        45%{
            transform:rotate(-10deg)
        }
        75%{
            transform:rotate(5deg)
        }
        to{
            top:0;
            transform:rotate(0)
        }
    }
    @-webkit-keyframes topbar-back{
        0%{
            top:6px;
            -webkit-transform:rotate(135deg)
        }
        45%{
            -webkit-transform:rotate(-10deg)
        }
        75%{
            -webkit-transform:rotate(5deg)
        }
        to{
            top:0;
            -webkit-transform:rotate(0)
        }
    }
    @keyframes bottombar-x{
        0%{
            bottom:0;
            transform:rotate(0deg)
        }
        45%{
            bottom:6px;
            transform:rotate(-145deg)
        }
        75%{
            transform:rotate(-130deg)
        }
        to{
            transform:rotate(-135deg)
        }
    }
    @-webkit-keyframes bottombar-x{
        0%{
            bottom:0;
            -webkit-transform:rotate(0deg)
        }
        45%{
            bottom:6px;
            -webkit-transform:rotate(-145deg)
        }
        75%{
            -webkit-transform:rotate(-130deg)
        }
        to{
            -webkit-transform:rotate(-135deg)
        }
    }
    @keyframes bottombar-back{
        0%{
            bottom:6px;
            transform:rotate(-135deg)
        }
        45%{
            transform:rotate(10deg)
        }
        75%{
            transform:rotate(-5deg)
        }
        to{
            bottom:0;
            transform:rotate(0)
        }
    }
    @-webkit-keyframes bottombar-back{
        0%{
            bottom:6px;
            -webkit-transform:rotate(-135deg)
        }
        45%{
            -webkit-transform:rotate(10deg)
        }
        75%{
            -webkit-transform:rotate(-5deg)
        }
        to{
            bottom:0;
            -webkit-transform:rotate(0)
        }
    }
    @-webkit-keyframes fadeIn{
        0%{
            opacity:0
        }
        to{
            opacity:1
        }
    }
    @keyframes fadeIn{
        0%{
            opacity:0
        }
        to{
            opacity:1
        }
    }
    .dropdown-menu .divider{
        background-color:hsla(0,0%,90%,.15)
    }
    .navbar-nav{
        margin:1px 0
    }
    .navbar-nav .show .dropdown-menu .nav-item .nav-link{
        padding:10px 15px 10px 60px
    }
    [class*=navbar-] .navbar-nav .active>a,[class*=navbar-] .navbar-nav .active>a:focus,[class*=navbar-] .navbar-nav .active>a:hover,[class*=navbar-] .navbar-nav .show .dropdown-menu>li>a,[class*=navbar-] .navbar-nav .show .dropdown-menu>li>a:active,[class*=navbar-] .navbar-nav .show .dropdown-menu>li>a:focus,[class*=navbar-] .navbar-nav .show .dropdown-menu>li>a:hover,[class*=navbar-] .navbar-nav>li>a,[class*=navbar-] .navbar-nav>li>a:focus,[class*=navbar-] .navbar-nav>li>a:hover{
        color:#fff
    }
    [class*=navbar-] .navbar-nav>li>a,[class*=navbar-] .navbar-nav>li>a:focus,[class*=navbar-] .navbar-nav>li>a:hover{
        opacity:.7;
        background-color:transparent;
        outline:none
    }
    [class*=navbar-] .navbar-nav .show .dropdown-menu>li>a:focus,[class*=navbar-] .navbar-nav .show .dropdown-menu>li>a:hover{
        background-color:hsla(0,0%,100%,.1)
    }
    [class*=navbar-] .navbar-nav.navbar-nav .show .dropdown-menu>li>a:active{
        opacity:1
    }
    [class*=navbar-] .navbar-nav .dropdown>a:active .caret,[class*=navbar-] .navbar-nav .dropdown>a:hover .caret{
        border-bottom-color:#fff;
        border-top-color:#fff
    }
    .navbar-fixed-top{
        -webkit-backface-visibility:hidden
    }
    #bodyClick{
        height:100%;
        width:100%;
        position:fixed;
        opacity:0;
        top:0;
        left:auto;
        right:250px;
        content:"";
        z-index:9999;
        overflow-x:hidden
    }
    .social-line .btn,.subscribe-line .form-control{
        margin:0 0 10px
    }
    .social-line.pull-right{
        float:none
    }
    .social-area.pull-right{
        float:none!important
    }
    .form-control+.form-control-feedback{
        margin-top:-8px
    }
    .navbar-toggle:focus,.navbar-toggle:hover{
        background-color:transparent!important
    }
    .btn.dropdown-toggle{
        margin-bottom:0
    }
    .media-post .author{
        width:20%;
        float:none!important;
        display:block;
        margin:0 auto 10px
    }
    .media-post .media-body{
        width:100%
    }
    .navbar-collapse.collapse{
        height:100%!important
    }
    .navbar-collapse.collapse.in{
        display:block
    }
    .navbar-header .collapse,.navbar-toggle{
        display:block!important
    }
    .navbar-header{
        float:none
    }
    .navbar-nav .show .dropdown-menu{
        position:static;
        float:none;
        width:auto;
        margin-top:0;
        background-color:transparent;
        border:0;
        box-shadow:none
    }
    .navbar-collapse .navbar-nav p{
        line-height:40px!important;
        margin:0
    }
    .navbar-collapse [class^=pe-7s-]{
        float:left;
        font-size:20px;
        margin-right:10px
    }
}
@media (min-width:992px){
    .table-full-width{
        margin-left:-15px;
        margin-right:-15px
    }
    .table-responsive{
        overflow:visible
    }
}
@media (max-width:991px){
    .table-responsive{
        width:100%;
        margin-bottom:15px;
        overflow-x:scroll;
        overflow-y:hidden;
        -ms-overflow-style:-ms-autohiding-scrollbar;
        -webkit-overflow-scrolling:touch
    }
}
@media (min-width:992px){
    .typo-line{
        padding-left:140px;
        margin-bottom:40px;
        position:relative
    }
    .typo-line .category{
        transform:translateY(-50%);
        top:50%;
        left:0;
        position:absolute
    }
}
.all-icons [class*=pe-]{
    font-size:40px
}
.all-icons input{
    border:0
}
.all-icons .font-icon-detail{
    text-align:center;
    padding:45px 0 30px;
    border:1px solid #e5e5e5;
    border-radius:6px;
    margin:15px 0
}
.all-icons .font-icon-detail input{
    margin:25px auto 0;
    width:100%;
    text-align:center;
    display:block;
    color:#aaa;
    font-size:13px
}
#map{
    position:relative;
    width:100%;
    height:calc(100% - 60px)
}
.places-buttons .btn{
    margin-bottom:30px
}
.sidebar .nav>li.active-pro{
    position:absolute;
    width:100%;
    bottom:10px
}
.sidebar .nav>li.active-pro a{
    background:hsla(0,0%,100%,.14);
    opacity:1;
    color:#fff
}
.table-upgrade td:nth-child(2),.table-upgrade td:nth-child(3){
    text-align:center
}
.fade-enter-active,.fade-leave-active{
    transition:opacity .1s
}
.fade-enter,.fade-leave-to{
    opacity:0
}
.fixed-plugin .badge,.fixed-plugin li>a{
    transition:all .34s;
    -webkit-transition:all .34s;
    -moz-transition:all .34s
}
.fixed-plugin{
    position:absolute;
    top:150px;
    right:0;
    width:64px;
    background:rgba(0,0,0,.3);
    z-index:1031;
    border-radius:8px 0 0 8px;
    text-align:center
}
.fixed-plugin .fa-cog{
    color:#fff;
    padding:10px;
    border-radius:0 0 6px 6px;
    width:auto
}
.fixed-plugin .dropdown-menu{
    right:80px;
    left:auto;
    width:290px;
    border-radius:10px;
    padding:10px
}
.fixed-plugin .dropdown-menu:after,.fixed-plugin .dropdown-menu:before{
    right:10px;
    margin-left:auto;
    left:auto
}
.fixed-plugin .fa-circle-thin{
    color:#fff
}
.fixed-plugin .active .fa-circle-thin{
    color:#0bf
}
.fixed-plugin .dropdown-menu>.active>a,.fixed-plugin .dropdown-menu>.active>a:focus,.fixed-plugin .dropdown-menu>.active>a:hover{
    color:#777;
    text-align:center
}
.fixed-plugin img{
    border-radius:0;
    width:100%;
    margin:0 auto
}
.fixed-plugin .badge,.fixed-plugin .badge:empty{
    border:3px solid #fff;
    border-radius:50%;
    cursor:pointer;
    display:inline-block;
    height:28px;
    margin-right:5px;
    position:relative;
    width:28px
}
.fixed-plugin .badge.active,.fixed-plugin .badge:hover{
    border-color:#0bf
}
.fixed-plugin .badge-white{
    background-color:#fff
}
.fixed-plugin .badge-blue{
    background-color:#35495e
}
.fixed-plugin .badge-azure{
    background-color:#1dc7ea
}
.fixed-plugin .badge-green{
    background-color:#87cb16
}
.fixed-plugin .badge-orange{
    background-color:#ffa534
}
.fixed-plugin .badge-purple{
    background-color:#9368e9
}
.fixed-plugin .badge-red{
    background-color:#fb404b
}
.fixed-plugin h5{
    font-size:14px;
    margin:10px
}
.fixed-plugin .dropdown-menu li{
    display:block;
    padding:5px;
    width:25%;
    float:left;
    text-align:center
}
.fixed-plugin li.adjustments-line,.fixed-plugin li.button-container,.fixed-plugin li.header-title{
    width:100%;
    min-height:inherit
}
.fixed-plugin li.button-container{
    height:auto
}
.fixed-plugin #sharrreTitle{
    text-align:center;
    padding:10px 0;
    height:50px
}
.fixed-plugin li.header-title{
    height:auto;
    padding:0;
    line-height:35px;
    font-size:12px;
    font-weight:600;
    text-align:center;
    text-transform:uppercase
}
.fixed-plugin .adjustments-line p{
    float:left;
    display:inline-block;
    margin-bottom:0;
    font-size:1em
}
.fixed-plugin .adjustments-line .switch{
    float:right
}
.fixed-plugin .dropdown-menu>li.adjustments-line>a{
    padding-right:0;
    padding-left:0;
    border-bottom:1px solid #ddd;
    margin:0;
    padding-top:0
}
.fixed-plugin .gh-button-container{
    float:none;
    margin:0
}
.fixed-plugin .btn-social{
    display:block;
    width:48%;
    float:left;
    font-weight:600
}
.fixed-plugin .btn-social i{
    margin-right:5px
}
.fixed-plugin .btn-social:first-child{
    margin-right:2%
}
.fixed-plugin .dropdown-menu{
    background:#fff
}
.btn-facebook{
    border-color:#3b5998;
    color:#3b5998
}
.btn-facebook:hover{
    background-color:#3b5998;
    border-color:#3b5998;
    color:#fff
}
.btn-twitter{
    border-color:#55acee;
    color:#55acee
}
.btn-twitter:hover{
    background-color:#55acee;
    border-color:#55acee;
    color:#fff
}
.btn-pinterest{
    border-color:#cc2127;
    color:#cc2127
}
.btn-pinterest:hover{
    background-color:#cc2127;
    border-color:#cc2127;
    color:#fff
}
.fixed-plugin .dropdown-menu>li>a.img-holder{
    font-size:16px;
    text-align:center;
    border-radius:10px;
    background-color:#fff;
    border:3px solid #fff;
    opacity:1;
    cursor:pointer;
    max-height:86px;
    overflow:hidden;
    padding:0
}
.fixed-plugin .dropdown-menu>li>a.switch-trigger:focus,.fixed-plugin .dropdown-menu>li>a.switch-trigger:hover{
    background-color:transparent
}
.fixed-plugin .dropdown-menu>li:focus>a.img-holder,.fixed-plugin .dropdown-menu>li:hover>a.img-holder{
    border-color:rgba(0,187,255,.53)
}
.fixed-plugin .dropdown-menu>.active>a.img-holder{
    border-color:#0bf;
    background-color:#fff
}
.fixed-plugin .dropdown-menu>li>a img{
    margin-top:auto
}
@media (min-width:992px){
    .fixed-plugin .dropdown .dropdown-menu{
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%);
        top:27px;
        opacity:0;
        -webkit-transform-origin:0 0;
        transform-origin:0 0
    }
    .fixed-plugin .dropdown-menu li.colors-line{
        width:100%;
        border-bottom:1px solid #ddd
    }
    .fixed-plugin .dropdown.show .dropdown-menu{
        opacity:1;
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%);
        -webkit-transform-origin:0 0;
        transform-origin:0 0
    }
    .fixed-plugin .dropdown-menu:after,.fixed-plugin .dropdown-menu:before{
        content:"";
        display:inline-block;
        position:absolute;
        top:50%;
        width:16px;
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%)
    }
    .fixed-plugin .dropdown-menu:before{
        border-bottom:16px solid transparent;
        border-left:16px solid #f1eae0;
        border-top:16px solid transparent;
        right:-16px
    }
    .fixed-plugin .dropdown-menu:after{
        border-bottom:16px solid transparent;
        border-left:16px solid #fff;
        border-top:16px solid transparent;
        right:-15px
    }
    .typo-line{
        padding-left:140px;
        margin-bottom:40px;
        position:relative
    }
    .typo-line .category{
        -webkit-transform:translateY(-50%);
        transform:translateY(-50%);
        top:50%;
        left:0;
        position:absolute
    }
}
@media (max-width:991px){
    .fixed-plugin .dropdown-menu{
        right:60px;
        width:220px
    }
    .fixed-plugin .dropdown.show .dropdown-menu{
        left:-240px!important
    }
    .fixed-plugin .dropdown-menu li{
        width:50%
    }
    .fixed-plugin .dropdown-menu li.colors-line{
        width:100%;
        border-bottom:1px solid #ddd
    }
    .fixed-plugin li.adjustments-line,.fixed-plugin li.button-container,.fixed-plugin li.header-title{
        width:100%;
        height:55px;
        min-height:inherit
    }
    .fixed-plugin li.button-container{
        height:auto
    }
    .fixed-plugin .adjustments-line .switch{
        float:right;
        margin:0
    }
    .fixed-plugin li.header-title{
        height:40px
    }
    .fixed-plugin .dropdown .dropdown-menu{
        top:-170px
    }
    .fixed-plugin .dropdown-menu:after,.fixed-plugin .dropdown-menu:before{
        display:none
    }
}
/*! * Vue GitHub Buttons v2.0.5 * (c) 2017 Saran Tanpituckpong * Released under the Apache license 2.0 */
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
@keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
.octicon{
    display:inline-block;
    fill:currentColor;
    vertical-align:middle
}
.octicon.spin{
    -webkit-animation:spin 1s linear 0s infinite;
    animation:spin 1s linear 0s infinite
}
.gh-button-container{
    display:inline-block;
    float:left;
    margin:0 5px
}
.gh-button-container a{
    text-decoration:none
}
.gh-button-container.loading{
    visibility:hidden
}
.gh-button{
    background-color:#eff3f6;
    background-image:linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    background-position:-1px -1px;
    background-repeat:repeat-x;
    background-size:110% 110%;
    border-radius:.25em;
    border:1px solid rgba(27,31,35,.2);
    color:#24292e;
    cursor:pointer;
    display:inline-block;
    float:left;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size:12px;
    font-weight:600;
    line-height:20px;
    padding:3px 10px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    vertical-align:middle;
    white-space:nowrap
}
.gh-button::-moz-focus-inner{
    border:0;
    padding:0
}
.gh-button:hover{
    background-color:#e6ebf1;
    background-image:linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position:0 -.5em;
    background-repeat:repeat-x;
    border-color:rgba(27,31,35,.35);
    text-decoration:none
}
.gh-button:active{
    background-color:#e9ecef;
    background-image:none;
    border-color:rgba(27,31,35,.35);
    box-shadow:inset 0 .15em .3em rgba(27,31,35,.15)
}
.gh-button:focus{
    box-shadow:0 0 0 .2em rgba(3,102,214,.3);
    outline:0
}
.gh-button.with-count{
    border-top-right-radius:0;
    border-bottom-right-radius:0
}
a.social-count{
    background-color:#fff;
    border-bottom-right-radius:3px;
    border-top-right-radius:3px;
    border-top:1px solid rgba(27,31,35,.2);
    border-right:1px solid rgba(27,31,35,.2);
    border-bottom:1px solid rgba(27,31,35,.2);
    color:#24292e;
    float:left;
    font-size:12px;
    font-weight:600;
    line-height:20px;
    padding:3px 10px;
    text-decoration:none;
    vertical-align:middle
}
a.social-count:hover{
    color:#0366d6;
    cursor:pointer
}
a.social-count.no-count:before{
    content:"\A0"
}
#map{
    min-height:calc(100vh - 123px)
}
.vue-map-container{
    position:relative
}
.vue-map-container .vue-map{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute
}
.vue-map-hidden{
    display:none
}
.vue-street-view-pano-container{
    position:relative
}
.vue-street-view-pano-container .vue-street-view-pano{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute
}

