/*      light colors - used for select dropdown         */
.list-move {
  transition: transform 0.3s, opacity 0.4s; }

.list-item {
  display: inline-block;
  margin-right: 10px; }

.list-enter-active, .list-leave-active {
  transition: opacity 0.4s; }

.list-enter, .list-leave-to {
  opacity: 0; }

.vue-notifyjs button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0; }

.vue-notifyjs .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

.vue-notifyjs .alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 14px;
  z-index: 100;
  display: inline-block;
  position: fixed !important;
  transition: all 0.5s ease-in-out;
  cursor: pointer; }
  .vue-notifyjs .alert.center {
    left: 0px;
    right: 0px;
    margin: 0 auto; }
  .vue-notifyjs .alert.left {
    left: 20px; }
  .vue-notifyjs .alert.right {
    right: 20px; }
  .container .vue-notifyjs .alert {
    border-radius: 4px; }
  .navbar .vue-notifyjs .alert {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3; }
  .navbar:not(.navbar-transparent) .vue-notifyjs .alert {
    top: 70px; }
  .vue-notifyjs .alert .alert-icon {
    font-size: 30px;
    margin-right: 5px; }
  .vue-notifyjs .alert .close ~ span {
    display: block;
    max-width: 89%; }
  .vue-notifyjs .alert[data-notify="container"] {
    width: 350px;
    padding: 10px 10px 10px 20px;
    border-radius: 4px; }
  .vue-notifyjs .alert.alert-with-icon {
    padding-left: 65px; }

.vue-notifyjs .alert-info {
  background-color: #7CE4FE;
  color: #3091B2; }

.vue-notifyjs .alert-success {
  background-color: #8EF3C5;
  color: #229863; }

.vue-notifyjs .alert-warning {
  background-color: #FFE28C;
  color: #BB992F; }

.vue-notifyjs .alert-danger {
  background-color: #FF8F5E;
  color: #B33C12; }
