.timeline {
  list-style: none;
  padding: 10px 0 0px;
  position: relative;
  margin-bottom: 0;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #d6d6d6;
    left: 21px;
    margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 10px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  margin-top: 5px;
  width: calc(100% - 58px);
  left:58px;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  background: white;
/*  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 10px;
  right: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-left: 11px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 11px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 11px;
  right: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 9px;
    left: 28px;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 11px;
  left: -11px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 10px;
  left: -10px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
  font-weight:normal;
  margin-bottom: .2rem;  
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.table-active, .table-active > th, .table-active > td {
    border-top: 0 !important;
    background-color: #e4e5e65c;
}